@{
    ViewBag.Title = "Transformation of order of sequences";
}

@Html.Partial("_AngularControllerInitializer", "OrderTransformerController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="OrderTransformerCtrl" ng-app="OrderTransformer">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_MattersTable")
        <hr />
        <div ng-repeat="transformation in transformations">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="transformations" value="Dissimilar" ng-model="transformation.operation.name" />
                        Dissimilar
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="transformations" value="HigherOrder" ng-model="transformation.operation.name" />
                        Higher order
                    </label>
                </div>
            </div>
            <div class="form-group" ng-show="transformation.operation.name == 'HigherOrder'">
                <label class="control-label col-md-2" for="link">Link:</label>
                <div class="col-md-10">
                    <select class="form-control" title="Link" ng-model="transformation.link" ng-options="l.Text for l in links" id="link"></select>
                    <input type="hidden" name="linkIds" ng-value="link.Value"/>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class=" col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-danger" ng-click="deleteTransformation(transformation)" ng-disabled="transformation.length <= 1">Delete transformation</button>
                </div>
            </div>
            <br />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2  col-md-10">
                <button type="button" class="btn btn-success" ng-init="addTransformation()" ng-click="addTransformation()">Add transformation</button>
            </div>
        </div>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
