@{
    ViewBag.Title = "LibiadaWeb";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Давай, до свидания!
    </p>
</article>

<aside>
    <h3>Боковая панель</h3>

    <ul>
        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
        <li>@Html.ActionLink("Объекты", "Index", "Matter")</li>
        <li>@Html.ActionLink("Цепочки", "Index", "Chain")</li>
        <li>@Html.ActionLink("Элементы", "Index", "Element")</li>
        <li>@Html.ActionLink("Природа объектов", "Index", "Nature")</li>
        <li>@Html.ActionLink("Языки", "Index", "Language")</li>
        <li>@Html.ActionLink("Формы записи", "Index", "Notation")</li>
        <li>@Html.ActionLink("Привязки", "Index", "LinkUp")</li>
        <li>@Html.ActionLink("Сторонние БД", "Index", "RemoteDb")</li>
        <li>@Html.ActionLink("Группы характеристик", "Index", "CharacteristicGroup")</li>
        <li>@Html.ActionLink("Типы характеристик", "Index", "CharacteristicType")</li>
        <li>@Html.ActionLink("Типы связей", "Index", "ConnectionType")</li>
        <li>@Html.ActionLink("Связи", "Index", "Connection")</li>
        <li>@Html.ActionLink("Характеристики", "Index", "Calculation")</li>
        <li>@Html.ActionLink("Однородные характеристики", "Index", "HomogeneousCalculation")</li>
        <li>@Html.ActionLink("Бинарные характеристики", "Index", "BinaryCalculation")</li>
        <li>@Html.ActionLink("Локальные характеристики", "Index", "LocalCharacteristics")</li>
        <li>@Html.ActionLink("Кластеризация", "Index", "Clusterization")</li>
        <li>@Html.ActionLink("Проверка цепочек", "Index", "ChainCheck")</li>
        <li>@Html.ActionLink("Преобразование цепочек", "Index", "Transformation")</li>
    </ul>
</aside>