@{
    ViewBag.Title = "LibiadaWeb";
}

<div class="jumbotron">
    <h1>LibiadaWeb</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data</h2>
        @Html.ActionLink("Matters", "Index", "Matters")
        <br/>
        @Html.ActionLink("Sequences", "Index", "CommonSequences")
        <br />
        @Html.ActionLink("Genes import", "Index", "GenesImport")
        <br />
        @Html.ActionLink("Genes attributes check", "Index", "AttributesCheck")
        <br />
        @Html.ActionLink("Genetic sequences transformation", "Index", "SequenceTransformer")
    </div>
    <div class="col-md-4">
        <h2>Calculators</h2>
        @Html.ActionLink("Calculation of integral characteristics", "Index", "Calculation")
        <br />
        @Html.ActionLink("Calculation of characteristics of congeneric sequences", "Index", "CongenericCalculation")
        <br />
        @Html.ActionLink("Calculation of relation characteristics of congeneric sequences", "Index", "RelationCalculation")
        <br />
        @Html.ActionLink("Calculation of accordance characteristics of congeneric sequences", "Index", "AccordanceCalculation")
        <br />
        @Html.ActionLink("Calculation of local characteristics (Functions of sequences)", "Index", "LocalCalculation")
        <br />
        @Html.ActionLink("Clusterization by characteristics", "Index", "Clusterization")
        <br />
        @Html.ActionLink("Calculation of characteristics of genes", "Index", "GenesCalculation")
        <br />
        @Html.ActionLink("Alignment of genes", "Index", "GenesAlignment")
        <br/>
        @Html.ActionLink("Genes distribution", "Index", "GenesDistribution")
        <br/>
        @Html.ActionLink("Genes similarity", "Index", "GenesSimilarity")
        <br />
        @Html.ActionLink("Calculation of integral characteristics of custom sequence", "Index", "QuickCalculation")
        <br/>
        @Html.ActionLink("Order comparison", "Index", "BuildingsSimilarity")
    </div>
    <div class="col-md-4">
        <h2>System</h2>
        @Html.ActionLink("Task manager", "Index", "TaskManager")
    </div>
</div>