@using LibiadaWeb.Helpers
@{
    ViewBag.Title = "Libiada";
}

<div class="jumbotron">
    <h1>Libiada - FOA Research Lab</h1>
    <p class="lead"></p>
</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Data</h2>
            @Html.ActionLink(AccountHelper.IsAdmin() ? "Matters" : "Sequences", "Index", "Matters")
            <br />
            @if (AccountHelper.IsAdmin())
            {
                @Html.ActionLink("Sequences", "Index", "CommonSequences")
                <br />
                @Html.ActionLink("Batch poems import", "Index", "BatchPoemsImport")
                <br />
                @Html.ActionLink("Batch sequences import", "Index", "BatchsequenceImport")
                <br />
                @Html.ActionLink("Genes import", "Index", "GenesImport")
                <br />
                @Html.ActionLink("Batch genes import", "Index", "BatchGenesImport")
                <br />
                @Html.ActionLink("Sequences groups", "Index", "SequenceGroups")
                <br />
                @Html.ActionLink("Genetic sequences transformation", "Index", "SequenceTransformer")
                <br />
                @Html.ActionLink("Order transformation (high order)", "Index", "OrderTransformer")
                <br />
                @Html.ActionLink("Custom sequences order transformation (high order)", "Index", "CustomSequenceOrderTransformer")
            }
        </div>
        <div class="col-md-4">
            <h2>Calculators</h2>
            @Html.ActionLink("Calculation of integral characteristics", "Index", "Calculation")
            <br />
            @Html.ActionLink("Calculation of integral characteristics of custom sequences", "Index", "CustomSequenceCalculation")
            <br />
            @Html.ActionLink("Map of genes", "Index", "SubsequencesDistribution")
            <br />
            @Html.ActionLink("Matrix of similarity", "Index", "SubsequencesComparer")
            <br />
            @if (AccountHelper.IsAdmin())
            {
                @Html.ActionLink("Sliding window calculation (Functions of sequences)", "Index", "LocalCalculation")
                <br />
                @Html.ActionLink("Clusterization", "Index", "Clusterization")
                <br />
                @Html.ActionLink("Alignment of sequences", "Index", "SequencesAlignment")
                <br />
                @Html.ActionLink("Subsequences characteristics calculation", "Index", "SubsequencesCalculation")
                <br />
                @Html.ActionLink("Subsequences similarity", "Index", "SubsequencesSimilarity")
                <br />
                @Html.ActionLink("Calculation of characteristics of congeneric sequences", "Index", "CongenericCalculation")
                <br />
                @Html.ActionLink("Calculation of relation characteristics of congeneric sequences", "Index", "RelationCalculation")
                <br />
                @Html.ActionLink("Calculation of accordance characteristics of congeneric sequences", "Index", "AccordanceCalculation")
                <br />
                @Html.ActionLink("Order transformation (high order) characteristics calculation", "Index", "OrderTransformationCalculation")
                <br />
                @Html.ActionLink("Custom sequences order transformation (high order) characteristics calculation", "Index", "CustomSequenceOrderTransformationCalculation")
                <br />
                @Html.ActionLink("Data visualization", "Index", "Charts")

                <h2>Research</h2>
                @Html.ActionLink("Calculate order transformations convergence", "Index", "OrderTransformationConvergence")
                <br />
                @Html.ActionLink("Calculate distribution of sequences by order", "Index", "SequencesOrderDistribution")
                <br />
                @Html.ActionLink("Music files processor", "Index", "MusicFiles")
                <br />
                @Html.ActionLink("Sequence predictions", "Index", "SequencePrediction")
                <br />
                @Html.ActionLink("Calculation of integral characteristics of orders", "Index", "OrderCalculation")
            }
        </div>
        <div class="col-md-4">
            <h2>Tasks</h2>
            @Html.ActionLink("Task manager", "Index", "TaskManager")
        </div>
    </div>
}
else
{
    <div>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) or @Html.ActionLink("log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to use Libiada service.</div>
}