@using LibiadaWeb.Models
@model IEnumerable<Matter>

@{
    ViewBag.Title = "Generate sequence rearrangements";
}

<script language="javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
    BuildingsSimilarityController(data);
</script>

<h2>Generate sequence rearrangements</h2>

@using (Html.BeginForm())
{
    <div ng-app="BuildingsSimilarity">
        <div class="form-horizontal" ng-controller="BuildingsSimilarityCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_NatureSelect")
            <br />
            @(Html.Label("matterIds", "Sequences", new { @class = "control-label" }))
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @(Html.DisplayNameFor(model => model.Name))
                        </th>
                        <th>
                            @(Html.DisplayNameFor(model => model.Description))
                        </th>
                        <th>
                            @(Html.DisplayNameFor(model => model.Created))
                        </th>
                        <th>
                            @(Html.DisplayNameFor(model => model.Modified))
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="matter in matters | filter:{Nature: natureId}">
                        <td>
                            <label>
                                <input type="radio" ng-model="matter.Selected" ng-change="matterCheckChanged(matter)" name="matterId" ng-value="matter.Value" />
                                {{matter.Text}}
                            </label>
                        </td>
                        <td ng-bind="matter.Description" />
                        <td ng-bind="matter.Created" />
                        <td ng-bind="matter.Modified" />
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Notation" ng-model="notation" ng-options="n.Text for n in notationsFiltered"></select>
                    <input type="hidden" name="notationId" ng-value="notation.Value" />
                    @Html.ValidationMessage("notationId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div ng-switch="natureId">
                <div ng-switch-when="@Aliases.Nature.Literature">
                    <div class="form-group">
                        <div class="col-md-10">
                            <select class="form-control" title="Language" ng-model="language" ng-options="l.Text for l in languages"></select>
                            <input type="hidden" name="languageIds" ng-value="language.Value" />
                            @Html.ValidationMessage("languageIds", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <select class="form-control" itle="Переводчик" ng-model="translator" ng-options="t.Text for t in translators"></select>
                            <input type="hidden" name="translatorIds" ng-value="translator.Value" />
                            @Html.ValidationMessage("translatorIds", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div ng-switch-when="@Aliases.Nature.Genetic">
                </div>
                <div ng-switch-when="@Aliases.Nature.Music">
                </div>
                <div ng-switch-when="@Aliases.Nature.Data">
                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.Label("scrambling", "Scrambling count", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control" name="scrambling" type="number" value="10" min="1" />
                    @Html.ValidationMessage("scrambling", "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/buildingsSimilarity")
}
