@{
    ViewBag.Title = "Batch genes import";
}

@Html.Partial("_AngularControllerInitializer", "GenesImportController")

<h2>@ViewBag.Title</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-app="libiada" ng-controller="GenesImportCtrl">
        @Html.Partial("_MattersTable")
        @Html.Partial("_MattersSubmit")
    </div>
}
