@model congeneric_characteristic

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>congeneric_characteristic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chain_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chain_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value_string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value_string)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.characteristic_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.characteristic_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.element.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.element.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
