@model LibiadaWeb.connection

@{
    ViewBag.Title = "Связи";
}

<h2>Создание</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Связь</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.parent_chain_id, "Родительская цепочка")
        </div>
        <div class="editor-field">
            @Html.DropDownList("parent_chain_id", String.Empty)
            @Html.ValidationMessageFor(model => model.parent_chain_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.child_chain_id, "Дочерняя цепочка")
        </div>
        <div class="editor-field">
            @Html.DropDownList("child_chain_id", String.Empty)
            @Html.ValidationMessageFor(model => model.child_chain_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.connection_type_id, "Тип связи")
        </div>
        <div class="editor-field">
            @Html.DropDownList("connection_type_id", String.Empty)
            @Html.ValidationMessageFor(model => model.connection_type_id)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
