@model LibiadaWeb.connection

@{
    ViewBag.Title = "Связи";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Связь</legend>

    <div class="display-label">Родительская цепочка</div>
    <div class="display-field">
        @Model.chain1.building.ToString().Substring(0,20)
    </div>

    <div class="display-label">Дочерняя цепочка</div>
    <div class="display-field">
        @Model.chain.building.ToString().Substring(0, 20)
    </div>

    <div class="display-label">Тип связи</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.connection_type.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
