@using LibiadaWeb.Helpers

@model IEnumerable<LibiadaWeb.connection>

@{
    ViewBag.Title = "Связи";
}

<h2>Перечень связей</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                Родительская цепочка
            </th>
            <th>
                Дочерняя цепочка
            </th>
            <th>
                Тип связи
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="connection-table">
                <td >
                    @Html.LineBreaker(item.chain1.building.ToString(), 30)
                </td>
                <td>
                    @Html.LineBreaker(item.chain.building.ToString(), 20)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.connection_type.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {id = item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
