@{
    ViewBag.Title = "Subsequences characteristics distribution";
}

<script src="~/js/Angular/Components/characteristic.js" asp-append-version="true"></script>
<script src="~/js/Angular/Components/characteristics.js" asp-append-version="true"></script>

@Html.Partial("_AngularControllerInitializer", "SubsequencesDistributionController")

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div ng-controller="SubsequencesDistributionCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters-count="selectedMattersCount">
        </matters-table>
        @Html.Partial("_FeaturesSelect")
        <hr/>
        <characteristic characteristic-types="::characteristicTypes"
                        characteristics-dictionary="::characteristicsDictionary"
                        nature="nature"
                        notations="::notations"
                        languages="::languages"
                        translators="::translators"
                        pause-treatments="::pauseTreatments">
        </characteristic>
        <characteristics characteristic-types="::characteristicTypes"
                         characteristics-dictionary="::characteristicsDictionary"
                         nature="nature"
                         notations="::notations"
                         languages="::languages"
                         translators="::translators"
                         pause-treatments="::pauseTreatments"
                         trajectories="::trajectories"
                         hide-notation="true">
        </characteristics>
        @Html.Partial("_MattersSubmit")
    </div>
}
