@model dynamic

@{
    ViewBag.Title = "Genes similarity";
}

<h2>Genes similarity</h2>

@if (ViewBag.Error == null)
{
    <h4>
        @ViewBag.firstSequenceName and @ViewBag.secondSequenceName
    </h4>
    <br/>
    <div>
        Similarity = @(200 * (double)ViewBag.similarGenes.Count / (ViewBag.firstSequenceGenes.Count + ViewBag.secondSequenceGenes.Count)) %.
        <br/>
        @(100 * (double)ViewBag.similarGenes.Count / ViewBag.firstSequenceGenes.Count) % of first sequence.
        <br/>
        @(100 * (double)ViewBag.similarGenes.Count / ViewBag.secondSequenceGenes.Count) % of second sequence.
    </div>
    <br/>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    First sequence gene piece type
                </th>
                <th>
                    First sequence gene product
                </th>
                <th>
                    First sequence gene position
                </th>
                <th>
                    First sequence gene length
                </th>
                <th>
                    Second sequence gene piece type
                </th>
                <th>
                    Second sequence gene product
                </th>
                <th>
                    Second sequence gene position
                </th>
                <th>
                    Second sequence gene length
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < ViewBag.similarGenes.Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].Feature.Name
                    </td>
                    <td>
                        @ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].Product.Name
                    </td>
                    <td>
                        @foreach (var piece in ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].Piece)
                        {
                            @piece.Start
                        }
                    </td>
                    <td>
                        @foreach (var piece in ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].Piece)
                        {
                            @piece.Length
                        }
                    </td>
                    <td>
                        @ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].Feature.Name
                    </td>
                    <td>
                        @ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].Product.Name
                    </td>
                    <td>
                        @foreach (var piece in ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].Piece)
                        {
                            @piece.Start
                        }
                    </td>
                    <td>
                        @foreach (var piece in ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].Piece)
                        {
                            @piece.Length
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
