@model dynamic

@{
    ViewBag.Title = "Genes similarity";
}

<h2>Genes similarity</h2>

@if (ViewBag.Error == null)
{
    @ViewBag.firstSequenceName
    <br />
    @ViewBag.secondSequenceName
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    First sequence gene piece type
                </th>
                <th>
                    First sequence gene product
                </th>
                <th>
                    First sequence gene position
                </th>
                <th>
                    Second sequence gene piece type
                </th>
                <th>
                    Second sequence gene product
                </th>
                <th>
                    Second sequence gene position
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < ViewBag.similarGenes.Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].PieceType.Name
                    </td>
                    <td>
                        @ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].Product.Name
                    </td>
                    <td>
                        @ViewBag.firstSequenceGenes[ViewBag.similarGenes[i].First].Piece
                    </td>
                    <td>
                        @ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].PieceType.Name
                    </td>
                    <td>
                        @ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].Product.Name
                    </td>
                    <td>
                        @ViewBag.secondSequenceGenes[ViewBag.similarGenes[i].Second].Piece
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
