@model IEnumerable<LibiadaWeb.notation>

@{
    ViewBag.Title = "Формы записи";
}

<h2>Формы записи</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nature_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nature.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Подробности", "Details", new { id=item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id=item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
