@model pitch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pitch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.octave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.octave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.midinumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.midinumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instrument.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instrument.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accidental.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accidental.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note_symbol.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note_symbol.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
