@model IEnumerable<pitch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.octave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.midinumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instrument.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accidental.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note_symbol.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.octave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.midinumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instrument.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accidental.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note_symbol.name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
