@{
    ViewBag.Title = "Transformation of order of sequences";
}

@Html.Partial("_AngularControllerInitializer", "CustomCalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="CustomCalculationCtrl" ng-app="CustomCalculation">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_CustomSequences")
        @Html.Partial("_OrderTransformations")
        <hr />
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}
