@model dynamic

@{
    ViewBag.Title = "Characteristics calculation";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
    CalculationController(data);
</script>

<h2>Characteristics calculation</h2>

@using (Html.BeginForm())
{
    <div ng-app="Calculation">
        <div class="form-horizontal" ng-controller="CalculationCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_NatureSelect")
            @Html.Partial("_MattersTable")
            @Html.Partial("_Characteristics")
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/calculation")
}
