@using LibiadaWeb.Models
@model IEnumerable<Matter>

@{
    ViewBag.Title = "Characteristics calculation";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
</script>

<h2>Characteristics calculation</h2>

@using (Html.BeginForm("Index", "Calculation", FormMethod.Post, new { enctype = "multipart/form-data", ng_app = "Calculation" }))
{

    <div class="form-horizontal" ng-controller="CalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.First().NatureId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="natureId" ng-options="n.Value as n.Text for n in natures"></select>
                @Html.ValidationMessage("natureId", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Label("matterIds", "Sequences", new { @class = "control-label" })
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matter in matters | filter:{Nature: natureId}">
                    <td>
                        <input type="checkbox" name="matterIds" ng-value="matter.Value" />
                        <span ng-bind="matter.Text"></span>
                    </td>
                    <td ng-bind="matter.Description" />
                    <td ng-bind="matter.Created" />
                    <td ng-bind="matter.Modified" />
                </tr>
            </tbody>
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <button type="button" class="btn btn-default" ng-init="addCharacteristic()" ng-click="addCharacteristic()">Add characteristic</button>
            </div>
        </div>
        <div ng-repeat="characteristic in characteristics">
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Characteristic" ng-model="characteristic.characteristicType" ng-options="c.Text for c in characteristicTypes"></select>
                    <input type="hidden" name="characteristicIds" ng-value="characteristic.characteristicType.Value" />
                    @Html.ValidationMessage("characteristicIds", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" ng-show="isLinkable(characteristic)">
                <div class="col-md-10">
                    <select class="form-control" title="Link" ng-model="characteristic.link" ng-options="l.Text for l in links"></select>
                    <input type="hidden" name="linkIds" ng-value="characteristic.link.Value" />
                    @Html.ValidationMessage("linkIds", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Notation" ng-model="characteristic.notation" ng-options="n.Text for n in notationsFiltered"></select>
                    <input type="hidden" name="notationIds" ng-value="characteristic.notation.Value" />
                    @Html.ValidationMessage("notationIds", "", new { @class = "text-danger" })
                </div>
            </div>
            <div ng-switch="natureId">
                <div ng-switch-when="@Aliases.Nature.Literature">
                    <div class="form-group">
                        <div class="col-md-10">
                            <select class="form-control" title="Language" ng-model="characteristic.language" ng-options="l.Text for l in languages"></select>
                            <input type="hidden" name="languageIds" ng-value="characteristic.language.Value" />
                            @Html.ValidationMessage("languageIds", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <select class="form-control" itle="Переводчик" ng-model="characteristic.translator" ng-options="t.Text for t in translators"></select>
                            <input type="hidden" name="translatorIds" ng-value="characteristic.translator.Value" />
                            @Html.ValidationMessage("translatorIds", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div ng-switch-when="@Aliases.Nature.Genetic">
                </div>
                <div ng-switch-when="@Aliases.Nature.Music">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="button" class="btn btn-default" ng-click="deleteCharacteristic(characteristic)" ng-disabled="characteristics.length <= 1">Delete characteristic</button>
                </div>
            </div>
            <hr />
            <br />
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/calculation")
}
