@using LibiadaWeb
@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик";
}

<h2>Вычисление характеристик</h2>

<script type="text/javascript">

    var app = angular.module('Calculation', []);

    app.controller('CalculationCtrl', ['$scope', 'filterFilter', function($scope, filterFilter) {

        var data = @Html.Raw(Json.Encode(ViewBag.data)) ;
        
        for(var param in data) {
            $scope[param] = data[param];
        }
        
        $scope.characteristics = [];
        
        $scope.addCharacteristic = function() {
            $scope.characteristics.push({ 
                characteristicType:$scope.characteristicTypes[0], 
                linkUp:$scope.linkUps[0], 
                notation:$scope.notations[0], 
                language:$scope.languages[0] 
            });
        };

        $scope.addCharacteristic();
        $scope.addCharacteristic();

        $scope.DeleteCharacteristic = function(characteristic) {
            $scope.characteristics.splice($scope.characteristics.indexOf(characteristic), 1);
        };
    }]);
    
    $(document).ready(function () {
        AddDataTablesWithSubmit();
    });
</script>

@using (Html.BeginForm("Index", "Calculation", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
        data_ng_app = "Calculation"
    }))
{
    <div data-ng-controller="CalculationCtrl">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Природа</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="matter in matters">
                    <td >
                        <input type="checkbox" name="matterIds" data-ng-model="matter.checkBox"/>
                        <span>{{matter.name}}</span>
                    </td>
                    <td>{{matter.description}}</td>
                    <td>{{matter.nature}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <button type="button" data-ng-click="addCharacteristic()">Добавить характеристику</button>
        <br/>
        <div data-ng-repeat="characteristic in characteristics">
            @Html.DropDownList("characteristicIds", new SelectListItem[0], new
                {
                    title = "Характеристика",
                    data_ng_model = "characteristic.characteristicType",
                    data_ng_options = "c.Text for c in characteristicTypes"
                })
            @Html.DropDownList("linkUpIds", new SelectListItem[0], new
                {
                    title = "Привязка",
                    data_ng_model = "characteristic.linkUp",
                    data_ng_options = "l.Text for l in linkUps"
                })
            @Html.DropDownList("notationIds", new SelectListItem[0], new
                {
                    title = "Форма записи",
                    data_ng_model = "characteristic.notation",
                    data_ng_options = "n.Text for n in notations"
                })
            @Html.DropDownList("languageIds", new SelectListItem[0], new
                {
                    title = "Язык",
                    data_ng_model = "characteristic.language",
                    data_ng_options = "l.Text for l in languages"
                })
            <button type="button" data-ng-click="DeleteCharacteristic(characteristic)" data-ng-disabled="characteristics.length <= 1">Удалить</button>
            <br/>
        </div>
        <br/>
        <br/>
        <input type="submit" value="Вычислить" />
    </div>
}