@model dynamic

@{
    ViewBag.Title = "Characteristics";
}

@if (ViewBag.Error == null)
{
    <h2>Characteristics</h2>


    <script type="text/javascript">
        "use strict";

        var data = @Html.Raw(Json.Encode(ViewBag.data));
        CalculationResultController(data);
    </script>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Sequence name
                </th>
                @foreach (var characteristicName in ViewBag.characteristicNames)
                {
                    <th>
                        @Html.Raw(characteristicName.Replace("  ", "<br/>"))
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.characteristics.Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.matterNames[i]
                    </td>
                    @foreach (var characteristic in ViewBag.characteristics[i])
                    {
                        <td>
                            @characteristic
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br/>
    <div ng-app="CalculationResult">
        <div ng-controller="CalculationResultCtrl">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/calculationResult")
}
