@model LibiadaWeb.element

@{
    ViewBag.Title = "Элементы";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Элемент</legend>

    <div class="display-label">Значение</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Форма записи</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">Дата создания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
