@model IEnumerable<LibiadaWeb.element>

@{
    ViewBag.Title = "Элементы";
}

<h2>Перечень элементов</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать элемент", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notation.nature_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.nature.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {id = item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
