@model IEnumerable<Matter>

<br />
<div class="form-group" ng-if="$ctrl.nature==@((byte)Nature.Genetic)">
    <div class="col-md-offset-2 col-md-10">
        <label>
            <input type="checkbox" name="showRefSeqOnly" checked="checked" ng-model="$ctrl.showRefSeqOnly" />
            Show only reference sequences
        </label>
    </div>
</div>
<div class="form-group" ng-if="$ctrl.checkboxes">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-success" ng-click="$ctrl.selectAllVisibleMatters()" value="Select all visible sequences" />
        <input type="button" class="btn btn-default" ng-click="$ctrl.unselectAllVisibleMatters()" value="Unselect all visible sequences" />
    </div>
</div>
<label class="control-label">Sequences:</label>
<table ng-cloak class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <input type="text" class="form-control" placeholder="Filter by name" ng-model="$ctrl.searchMatter" />
            </th>
            <th>
                <input type="text" class="form-control" placeholder="Filter by description" ng-model="$ctrl.searchDescription" />
            </th>
            <th>
                <select class="form-control" ng-model="$ctrl.group" ng-options="g.Value as g.Text for g in $ctrl.groups | filter:{ Nature: $ctrl.nature }">
                    <option value="">-- All groups --</option>
                </select>
            </th>
            <th>
                <select class="form-control" ng-model="$ctrl.sequenceType" ng-options="s.Value as s.Text for s in $ctrl.sequenceTypes | filter:{ Nature: $ctrl.nature }">
                    <option value="">-- All sequence types --</option>
                </select>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                #
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Name))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Description))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Group))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.SequenceType))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Created))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Modified))
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="matter in $ctrl.matters | filter:{ Nature: $ctrl.nature }"
            ng-show="([matter] | filter:{ Text: $ctrl.searchMatter } | filter: { Description: $ctrl.searchDescription } | filter: { Group: $ctrl.group || '' } | filter: { SequenceType: $ctrl.sequenceType || '' }).length > 0 && (!$ctrl.showRefSeqOnly || $ctrl.nature!=@((byte)Nature.Genetic) ||  matter.Text.split('|').slice(-1)[0].indexOf('_') != -1)"
            ng-cloak>
            <td ng-bind="$index + 1" />
            <td>
                <label>
                    <input type="{{$ctrl.checkboxes ? 'checkbox' : 'radio'}}"
                           ng-model="matter.Selected"
                           name="{{$ctrl.checkboxes ? 'matterIds' : 'matterId'}}"
                           ng-value="matter.Value"
                           ng-change="$ctrl.matterCheckChanged(matter)"
                           ng-disabled="$ctrl.checkboxes && ($ctrl.selectedMattersCount >= $ctrl.maximumSelectedMattersCount)" />

                    {{matter.Text}}
                </label>
            </td>
            <td ng-bind="matter.Description" />
            <td ng-bind="matter.Group" />
            <td ng-bind="matter.SequenceType" />
            <td ng-bind="matter.Created" />
            <td ng-bind="matter.Modified" />
        </tr>
    </tbody>
</table>
<br />