@using Libiada.Core.Extensions;

@model Matter

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Matter</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.Created)</dt>
        <dd>@Html.DisplayFor(model => model.Created)</dd>

        <dt>@Html.DisplayNameFor(model => model.Modified)</dt>
        <dd>@Html.DisplayFor(model => model.Modified)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nature)</dt>
        <dd>@Model.Nature.GetDisplayValue()</dd>

        <dt>@Html.DisplayNameFor(model => model.Group)</dt>
        <dd>@Model.Group.GetDisplayValue()</dd>

        <dt>@Html.DisplayNameFor(model => model.SequenceType)</dt>
        <dd>@Model.SequenceType.GetDisplayValue()</dd>
        @if (Model.Multisequence != null)
        {
            <dt>@Html.DisplayNameFor(model => model.Multisequence)</dt>
            <dd>@Html.DisplayFor(model => model.Multisequence.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.MultisequenceNumber)</dt>
            <dd>@Html.DisplayFor(model => model.MultisequenceNumber)</dd>
        }
        @if (Model.CollectionCountry != null)
        {
            <dt>@Html.DisplayNameFor(model => model.CollectionCountry)</dt>
            <dd>@Html.DisplayFor(model => model.CollectionCountry)</dd>
        }
        @if (Model.CollectionDate != null)
        {
            <dt>@Html.DisplayNameFor(model => model.CollectionDate)</dt>
            <dd>@Html.DisplayFor(model => model.CollectionDate)</dd>
        }
        <dt>Sequences count</dt>
        <dd>@ViewBag.SequencesCount</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mb-2">
            @if (ViewBag.SequencesCount > 0)
            {
                <h6 class="text-danger"> Sorry, matter with child sequences cannot be deleted</h6>
            }
            else
            {
                <input type="submit" value="Delete" class="btn btn-secondary" />
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
