@model dynamic

<div class="genes-check-result">
    <div>
        @ViewBag.check
    </div>
    <div>
        Length Difference: @ViewBag.lengthDelta    
    </div>
    <div>
        @if (ViewBag.NotEqualPositions != null)
        {
            @:Positions of not equal element
            <ul>               
                @for (int i = 0; i < ViewBag.NotEqualPositions.Count; i++)
                {
                    <li>@ViewBag.NotEqualPositions[i]</li>
                }
            </ul>         
        }
    </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    intersection
                </th>
                <th>
                    start
                </th>
                <th>
                    actual length
                </th>
                <th>
                    stop
                </th>
            </tr>

            @foreach (var item in ViewBag.intersections)
            {
                <tr>
                    <td>
                        @item[0]
                    </td>
                    <td>
                        @item[1]
                    </td>
                    <td>
                        @item[2]
                    </td>
                    <td>
                        @item[3]
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

