@{
    ViewBag.Title = "Genbank nicleotide database search";
}

@Html.Partial("_AngularControllerInitializer", "BatchGeneticImportFromGenBankSearchFileController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="BatchGeneticImportFromGenBankSearchFileCtrl">
        <div class="form-group">
            <label class="control-label col-md-2">GenBank search query:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="searchQuery" id="searchQuery" placeholder="Enter term" ng-model="searchQuery">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="importPartial" value="true" />
                    <input type="hidden" name="importPartial" value="false" />
                    Include partial sequences
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="filterMinLength" value="true" ng-model="filterMinLength" />
                    <input type="hidden" name="filterMinLength" value="false" />
                    Filter sequences by min length
                </label>
            </div>
        </div>
        <div class="form-group" ng-show="filterMinLength">
            <label class="control-label col-md-2" for="minLength">Minimum length:</label>
            <div class="col-md-10">
                <input class="form-control" name="minLength" type="number" value="1000" min="1" id="minLength" />
                @Html.ValidationMessage("minLength", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="filterMaxLength" value="true" ng-model="filterMaxLength" />
                    <input type="hidden" name="filterMaxLength" value="false" />
                    Filter sequences by max length
                </label>
            </div>
        </div>
        <div class="form-group" ng-show="filterMaxLength">
            <label class="control-label col-md-2" for="maxLength">Maximum length:</label>
            <div class="col-md-10">
                <input class="form-control" name="maxLength" type="number" value="1000000" min="1" id="maxLength" />
                @Html.ValidationMessage("maxLength", "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" ng-disabled="!searchQuery" />
            </div>
        </div>
    </div>
}
