@using Libiada.Web.Extensions
@using Libiada.Core.Extensions
@using Libiada.Web.Helpers
@model IEnumerable<ResearchObject>

@{
    ViewBag.Title = "Sequences List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New sequence", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Created)</th>
        <th>@Html.DisplayNameFor(model => model.Modified)</th>
        <th>@Html.DisplayNameFor(model => model.Nature)</th>
        <th>@Html.DisplayNameFor(model => model.Group)</th>
        <th>@Html.DisplayNameFor(model => model.SequenceType)</th>
        <th>@Html.DisplayNameFor(model => model.Multisequence)</th>
        <th>@Html.DisplayNameFor(model => model.MultisequenceNumber)</th>
        <th>@Html.DisplayNameFor(model => model.CollectionCountry)</th>
        <th>@Html.DisplayNameFor(model => model.CollectionDate)</th>
        @if (User.IsAdmin())
        {
            <th />
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Created)</td>
            <td>@Html.DisplayFor(modelItem => item.Modified)</td>
            <td>@item.Nature.GetDisplayValue()</td>
            <td>@item.Group.GetDisplayValue()</td>
            <td>@item.SequenceType.GetDisplayValue()</td>
            <td>@(item.Multisequence == null ? string.Empty : Html.DisplayFor(modelItem => item.Multisequence.Name))</td>
            <td>@Html.DisplayFor(modelItem => item.MultisequenceNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.CollectionCountry)</td>
            <td>@Html.DisplayFor(modelItem => item.CollectionDate)</td>
            @if (User.IsAdmin())
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>
