@model LibiadaWeb.congeneric_characteristic

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<fieldset>
    <legend>congeneric_characteristic</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.chain_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chain_id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.characteristic_type_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_type.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value_string)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value_string)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.link_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.element_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.element.value)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
