@model dynamic

@{
    ViewBag.Title = "Local characteristics";
}

<h2>Local characteristics</h2>

@if (ViewBag.Error == null)
{
    for (int i = 0; i < ViewBag.characteristics.Count; i++)
    {
        <h3>Matter @ViewBag.matterNames[i]</h3>
        for (int j = 0; j < ViewBag.characteristics[i].Count; j++)
        {
            <h4>Notation: @ViewBag.notationNames[j]</h4>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Start
                        </th>
                        <th>
                            Length
                        </th>
                        <th>
                            @ViewBag.characteristicNames[j]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int k = 0; k < ViewBag.characteristics[i][j].Count; k++)
                    {
                        <tr>
                            <td>
                                @ViewBag.starts[i][j][k]
                            </td>
                            <td>
                                @ViewBag.lengthes[i][j][k]
                            </td>
                            <td>
                                @ViewBag.characteristics[i][j][k]
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <br />
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
