@model IEnumerable<LibiadaWeb.building_type>

@{
    ViewBag.Title = "Типы строев";
}

<h2>Разновидности строев</h2>

<p>
    @Html.ActionLink("Создать новый тип", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
