@model IEnumerable<LibiadaWeb.building_type>

@{
    ViewBag.Title = "Типы строев";
}

<h2>Разновидности строев</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать новый тип", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {id = item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
