@model MusicSequence

@{
    ViewBag.Title = "Fmotifs dictionary";
}

<h2>@ViewBag.Title</h2>

@{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "FmotifsDictionary");
}

<div ng-controller="FmotifsDictionaryCtrl" ng-init="onLoad()">
    <div>
        <h4>Music sequence</h4>
        <hr />
        <dl>
            <dt>@Html.DisplayNameFor(model => model.ResearchObject.Name)</dt>
            <dd>@Html.DisplayFor(model => model.ResearchObject.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.PauseTreatment)</dt>
            <dd>@Html.DisplayFor(model => model.PauseTreatment)</dd>

            <dt>@Html.DisplayNameFor(model => model.SequentialTransfer)</dt>
            <dd>@(Model.SequentialTransfer ? "Yes" : "No")</dd>

            <dt>@Html.DisplayNameFor(model => model.Created)</dt>
            <dd>@Html.DisplayFor(model => model.Created)</dd>
        </dl>
    </div>
    <h4>Formal motifs</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Notation</th>
                <th>Visualization</th>
                <th>Acoustic</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fmotif in ::data.fmotifs">
                <td>
                    <div id="notation_{{::fmotif.Id}}"></div>
                </td>
                <td>
                    <div id="visualization_{{::fmotif.Id}}"></div>
                </td>
                <td>
                    <input type="button" class="btn btn-secondary" ng-click="play($index)" value="Play" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/Angular/Components/loadingWindow.js" asp-append-version="true"></script>
    <script src="~/lib/midi.js/lib/midi.js" asp-append-version="true"></script>
    <script src="~/lib/d3/d3.js" asp-append-version="true"></script>

}
