@model dynamic

@{
    ViewBag.Title = "Sequences alignment";
}

@Html.Partial("_AngularControllerInitializer")

<h2>Sequences alignment</h2>

@using (Html.BeginForm())
{
    <div ng-app="SequencesAlignment">
        <div class="form-horizontal" ng-controller="SequencesAlignmentCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_MattersTable")
            @Html.Partial("_FeaturesSelect")
            @Html.Partial("_Characteristic")
            @Html.Label("validationType", "Alignment validation type", new { @class = "control-label" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="validationType" value="Similarity" checked />
                        Similarity
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="validationType" value="Difference" />
                        Difference
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="validationType" value="NormalizedDifference"/>
                        Normalized difference
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="validationType" value="Equality" />
                        Equality of elements
                    </label>
                </div>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.CheckBox("cyclicShift")
                    @Html.Label("cyclicShift", "Cyclic shift")
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.CheckBox("sort")
                    @Html.Label("sort", "Sort into rank distribution")
                </div>
            </div>
            <hr/>
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}
