@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление локальных характеристик";
}

<h2>Вычисление локальных характеристик</h2>

<script type="text/javascript">

    var divCounter = 0;

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });

        AddCharacteristic();
    });

    function AddCharacteristic() {
        
        var characteristicTypes = new Array();
        var linkUps = new Array();

        @foreach (var option in ViewBag.characteristicsList)
        {
            @:characteristicTypes.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }

        @foreach (var option in ViewBag.linkUpsList)
        {
            @:linkUps.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }

        var characteristicsDiv = $("<div/>").attr('name', 'characteristc' + divCounter).attr('id', 'characteristic' + divCounter);

        $("#characteristics_list").append(characteristicsDiv);
        
        var selectList = $('<select/>').attr('name', 'characteristicIds');
        for (var i = 0; i < characteristicTypes.length; i++) 
        {
            selectList.append(characteristicTypes[i]);
        }
        characteristicsDiv.append(selectList);
        
        selectList = $('<select/>').attr('name', 'linkUpIds');
        for (var i = 0; i < linkUps.length; i++) 
        {
            selectList.append(linkUps[i]);
        }
        characteristicsDiv.append(selectList);
        
        //функция, возвращающая функцию для call back'а
        var tempDeleteFunction = function(element) {
            return function() {
                DeleteElementByName(element.elemName);
            };
        };
        var callBackDeleteFunction = tempDeleteFunction({ elemName: 'characteristic' + divCounter });
        characteristicsDiv.append($('<input/>').attr('type', 'button').attr('value','Удалить').click(callBackDeleteFunction));
        AppendBr(characteristicsDiv);
        
        divCounter++;
        return false;
    }
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название объекта
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList = Html.CheckBoxGroup("matterIds", (List<SelectListItem>) ViewBag.mattersList);

                foreach (var item in mattersList)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br/>
    @Html.Label("Размер окна:")
    <input type ="number" id ="length" name = "length" value="50"/>
    @Html.Label("Размер шага:")
    <input type ="number" id ="step" name = "step" value="2"/>
    <br/>
    @Html.CheckBox("isDelta")
    @Html.Label("isDelta", "Считать разницу между характеристиками")

    <br/>
    @Html.CheckBox("isGrowingWindow")
    @Html.Label("isGrowingWindow", "Считать увеличивающееся окно")
    <br/>
    @Html.CheckBox("isFurie")
    @Html.Label("isFurie", "Быстрое преобразование Фурье")
    <br/>
    <select name="notationId">
        @foreach (var option in ViewBag.notationsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <input type="button" onclick="AddCharacteristic()" value="Добавить характеристику"/>
    <br/>
    <div id="characteristics_list"></div>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}