@model IEnumerable<LibiadaWeb.remote_db>

@{
    ViewBag.Title = "Сторонние БД";
}

<h2>Перечень стороних БД</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                url адрес
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Подробности", "Details", new { id=item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id=item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
