@using LibiadaWeb.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FOA Research Lab</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @* TODO: try to fix this after upgrading to .net core*@
    <script src="~/Libraries/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    @Scripts.Render("~/bundles/alertify")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/scrollJumper")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow p-0">
            <div class="container-fluid">
                @Html.ActionLink("LibiadaWeb", "Index", "Home", null, new { @class = "navbar-brand" })
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspNetCoreMVCProject</a>*@
                <button class="navbar-toggler m-2" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="http://foarLab.org/">Home</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Task manager", "Index", "TaskManager", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        @*<li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                    @*<partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>
    </header>
    <div ng-app="libiada">
        <scroll-jumper></scroll-jumper>
        <div class="container pt-2 body-content">
            @RenderBody()
            <br />
            @if (ViewBag.Error != null)
            {
                if (AccountHelper.IsAdmin())
                {
                    <div class="error-message">
                        @ViewBag.Error.Message
                    </div>
                    <br />
                    <div class="stack-trace">
                        @ViewBag.Error.StackTrace
                    </div>
                }
                else
                {
                    <h1 class="text-danger">Error.</h1>
                    <h2 class="text-danger">An error occurred while processing your request.</h2>

                    if (ViewBag.UserError != null)
                    {
                        <div class="error-message">
                            @ViewBag.UserError
                        </div>
                    }
                }
            }
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            @if (AccountHelper.IsAdmin())
            {
                <h2 class='@(DbHelper.ConnectionSuccessful ? "text-success" : "text-danger")'>
                    Current database: @DbHelper.DbName
                </h2>
            }
            <p>All nucleotide sequences are downloaded from <a href="https://www.ncbi.nlm.nih.gov" target="_blank" rel="noopener">GenBank</a></p>
            <p>&copy; @DateTime.Now.Year - foarLab.org</p>
            @*&copy; 2022 - AspNetCoreMVCProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    @RenderSection("endscripts", required: false)
</body>
</html>
