@using LibiadaWeb.Helpers
@using LibiadaWeb.Models.Account
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FOA Research Lab</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scrollJumper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LibiadaWeb", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://foarLab.org/">Home</a></li>
                    <li>@Html.ActionLink("Task manager", "Index", "TaskManager")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="scrollUpDown" class="pull-left">
        <div id="buttonScrollUp"><span class="glyphicon glyphicon-circle-arrow-up text-primary"></span></div>
        <div id="buttonScrollDown"><span class="glyphicon glyphicon-circle-arrow-down text-primary"></span></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        @if (ViewBag.Error != null)
        {
            if (UserHelper.IsAdmin())
            {
                <div class="error-message">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
                <br />
                if (ViewBag.StackTrace != null)
                {
                    <div class="stack-trace">
                        @Html.Raw(ViewBag.StackTrace)
                    </div>
                }
            }
            else
            {
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>

                if (ViewBag.UserError != null)
                {
                    <div class="error-message">
                        @ViewBag.UserError
                    </div>
                }
            }
        }
    </div>
    <footer>
        <div class="container modal-footer">
            @if (UserHelper.IsAdmin())
            {
                <h2 class='@(DbHelper.ConnectionSuccessful ? "text-success" : "text-danger")'>
                    Current database: @DbHelper.DbName
                </h2>
            }
            <p>All nucleotide sequences are downloaded from <a href="https://www.ncbi.nlm.nih.gov" target="_blank">GenBank</a></p>
            <p>&copy; @DateTime.Now.Year - foarLab.org</p>
        </div>
    </footer>
</body>
</html>
