@using Libiada.Database.Helpers;
@using LibiadaWeb.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FOA Research Lab</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibiadaWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home">LibiadaWeb</a>
                <button class="navbar-toggler m-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="http://foarLab.org/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="TaskManager">Task manager</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div ng-app="libiada">
        <scroll-jumper></scroll-jumper>
        <div class="container pt-2 body-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @if (User.IsInRole("admin"))
            {
                <h3 class='@(DbHelper.ConnectionSuccessful ? "text-success" : "text-danger")'>
                    Current database: @DbHelper.DbName
                </h3>
            }
            <p>All nucleotide sequences are downloaded from <a href="https://www.ncbi.nlm.nih.gov" target="_blank" rel="noopener">GenBank</a></p>
            <p>&copy; @DateTime.Now.Year - foarLab.org</p>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>
    <script src="~/js/Angular/functions.js"></script>
    <script src="~/lib/angular.js/angular.min.js"></script>
    <script src="~/lib/angular-smart-table/smart-table.min.js"></script>
    <script src="~/js/Angular/Components/scrollJumper.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
