@using LibiadaWeb.Helpers
@using LibiadaWeb.Models.Account
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FOA Research Lab</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scrollJumper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LibiadaWeb", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://foarLab.org/">Home</a></li>
                    <li>@Html.ActionLink("Task manager", "Index", "TaskManager")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="scrollUpDown" class="pull-left">
        <div id="buttonScrollUp">
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-button" width="30" height="30" viewBox="0 0 2048 2048">
                <path d="M1540 1023q0-27-18-45l-362-362-91-91q-18-18-45-18t-45 18l-91 91-362 362q-18 18-18 45t18 45l91 91q18 18 45 18t45-18l189-189v502q0 26 19 45t45 19h128q26 0 45-19t19-45v-502l189 189q19 19 45 19t45-19l91-91q18-18 18-45zm252 1q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z" />
            </svg>
        </div>
        <div id="buttonScrollDown">
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-button" width="30" height="30" viewBox="0 0 2048 2048">
                <path d="M1540 1025q0-27-18-45l-91-91q-18-18-45-18t-45 18l-189 189v-502q0-26-19-45t-45-19h-128q-26 0-45 19t-19 45v502l-189-189q-19-19-45-19t-45 19l-91 91q-18 18-18 45t18 45l362 362 91 91q18 18 45 18t45-18l91-91 362-362q18-18 18-45zm252-1q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z" />
            </svg>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        @if (ViewBag.Error != null)
        {
            if (UserHelper.IsAdmin())
            {
                <div class="error-message">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
                <br />
                if (ViewBag.StackTrace != null)
                {
                    <div class="stack-trace">
                        @Html.Raw(ViewBag.StackTrace)
                    </div>
                }
            }
            else
            {
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>

                if (ViewBag.UserError != null)
                {
                    <div class="error-message">
                        @ViewBag.UserError
                    </div>
                }
            }
        }
    </div>
    <footer>
        <div class="container modal-footer">
            @if (UserHelper.IsAdmin())
            {
                <h2 class='@(DbHelper.ConnectionSuccessful ? "text-success" : "text-danger")'>
                    Current database: @DbHelper.DbName
                </h2>
            }
            <p>All nucleotide sequences are downloaded from <a href="https://www.ncbi.nlm.nih.gov" target="_blank" rel="noopener">GenBank</a></p>
            <p>&copy; @DateTime.Now.Year - foarLab.org</p>
        </div>
    </footer>
</body>
</html>
