@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Генерация перемешаннных цепочек";
}

<script language="javascript">

    var formTable;

    $(document).ready(function () {
        formTable = $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });

        $('form').submit(function () {
            $(formTable.fnGetHiddenNodes()).find('input:checked').attr("hidden", true).appendTo(this);
        });
    });
</script>

<h2>Генерация перемешаннных цепочек</h2>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название объекта
                </th>
                <th>
                    Тип цепочки
                </th>
            </tr>
        </thead>
        <tbody>
            @{
    List<MvcHtmlString> mattersList = Html.RadioButtonGroup("matterId", (List<SelectListItem>)ViewBag.mattersList);

    for (int i = 0; i < mattersList.Count; i++)
    {
                    <tr>
                        <td>
                            @mattersList[i]
                        </td>
                        <td>
                            @ViewBag.matters[i].nature.name
                        </td>
                    </tr>
    }
            }
        </tbody>
    </table>
    <br/>
    @Html.Label("Количество попарных перестановок:")
    <input type ="number" id ="mixes" name = "mixes" value="1"/>
    <br/>
    @Html.Label("Форма записи:")
    <select name="notationId">
        @foreach (var option in ViewBag.notationsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label("Язык литературного произведения:")
    <select name="languageId">
        @foreach (var option in ViewBag.language_id)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}