@{
    ViewBag.Title = "Менеджер задач";
}

<h2>Index</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="error-message">
        @ViewBag.ErrorMessage
    </div>
    <br/>
}

<table class="table">
    <tr>
        <th>
            Task id
        </th>
        <th>
            Task Name
        </th>
        <th>
            Created
        </th>
        <th>
            Task state
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in ViewBag.Tasks)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.ActionName
            </td>
            <td>
                @item.Created
            </td>
            <td>
                @item.TaskState
            </td>
            <td>
                @Html.ActionLink("View result", "RedirectToResult", new { id = item.Id })
            </td>
        </tr>
    }
</table>