@model LibiadaWeb.pitch

@{
    ViewBag.Title = "Высоты нот";
}

<h2>Удаление</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Высота ноты</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.octave)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.octave)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.midinumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.midinumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.instrument_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.instrument)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.note_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.accidental_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accidental.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.note_symbol_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note_symbol.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
