@model LibiadaWeb.pitch

@{
    ViewBag.Title = "Высоты нот";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Высота ноты</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.octave)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.octave)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.midinumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.midinumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.instrument_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.instrument)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.note_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.accidental_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accidental.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.note_symbol_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note_symbol.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
