@model LibiadaWeb.pitch

@{
    ViewBag.Title = "Высоты нот";
}

<h2>Редактирование</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Высота ноты</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.octave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.octave)
            @Html.ValidationMessageFor(model => model.octave)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.midinumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.midinumber)
            @Html.ValidationMessageFor(model => model.midinumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.instrument)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.instrument)
            @Html.ValidationMessageFor(model => model.instrument)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note_id, "note")
        </div>
        <div class="editor-field">
            @Html.DropDownList("note_id", String.Empty)
            @Html.ValidationMessageFor(model => model.note_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.accidental_id, "accidental")
        </div>
        <div class="editor-field">
            @Html.DropDownList("accidental_id", String.Empty)
            @Html.ValidationMessageFor(model => model.accidental_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note_symbol_id, "note_symbol")
        </div>
        <div class="editor-field">
            @Html.DropDownList("note_symbol_id", String.Empty)
            @Html.ValidationMessageFor(model => model.note_symbol_id)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
