@model IEnumerable<LibiadaWeb.pitch>

@{
    ViewBag.Title = "Высоты нот";
}

<h2>Перечень высот нот</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.octave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.midinumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instrument_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accidental_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note_symbol_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.octave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midinumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instrument)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.note.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accidental.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.note_symbol.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { item.id }) |
                    @Html.ActionLink("Подробности", "Details", new { item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
