@model LibiadaWeb.characteristic_type

@{
    ViewBag.Title = "Характеристики";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить данную характеристику?</h3>
<fieldset>
    <legend>Характеристика</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.characteristic_group_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_group.name)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.characteristic_applicability_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_applicability.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.class_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.class_name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
