@model LibiadaWeb.characteristic_type

@{
    ViewBag.Title = "Характеристики";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Характеристика</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.characteristic_group_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_group.name)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.linkable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linkable)
    </div>

    <div class="display-label">
        @Html.DisplayName("Применимость характеристики")
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.full_chain_applicable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.full_chain_applicable)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.binary_chain_applicable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.binary_chain_applicable)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.congeneric_chain_applicable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.congeneric_chain_applicable)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.class_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.class_name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
