@model characteristic_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>characteristic_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_chain_applicable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_chain_applicable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.congeneric_chain_applicable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.congeneric_chain_applicable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.binary_chain_applicable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.binary_chain_applicable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.characteristic_group.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.characteristic_group.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
