@model IEnumerable<characteristic_type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.class_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_chain_applicable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.congeneric_chain_applicable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.binary_chain_applicable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.characteristic_group.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.class_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linkable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_chain_applicable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.congeneric_chain_applicable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.binary_chain_applicable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.characteristic_group.name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
