@model dynamic

@{
    ViewBag.Title = "Genes alignment";
}

<h2>Genes alignment</h2>

@if (ViewBag.Error == null)
{
    <div>
        Alignment type: @ViewBag.validationType
    </div>

    <div>
        Optimal shift: @ViewBag.optimalRotation
    </div>

    <br />

    @ViewBag.firstSequenceName
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Piece type
                </th>
                <th>
                    Gene product
                </th>
                <th>
                    Gene position
                </th>
                <th>
                    @ViewBag.characteristicName
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.firstSequenceCharacteristics.Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.firstSequencePieceTypes[i]
                    </td>
                    <td>
                        @ViewBag.firstSequenceProducts[i]
                    </td>
                    <td>
                        @ViewBag.firstSequencePositions[i]
                    </td>
                    <td>
                        @ViewBag.firstSequenceCharacteristics[i].Value
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    @ViewBag.secondSequenceName
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Piece type
                </th>
                <th>
                    Gene product
                </th>
                <th>
                    Gene position
                </th>
                <th>
                    @ViewBag.characteristicName
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.secondSequenceCharacteristics.Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.secondSequencePieceTypes[i]
                    </td>
                    <td>
                        @ViewBag.secondSequenceProducts[i]
                    </td>
                    <td>
                        @ViewBag.secondSequencePositions[i]
                    </td>
                    <td>
                        @ViewBag.secondSequenceCharacteristics[i].Value
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/slider")
        @Scripts.Render("~/bundles/highCharts")
        @Styles.Render("~/Content/slider")
    }
}
