@model dynamic

@{
    ViewBag.Title = "Выравнивание генов";
}

<h2>Выравнивание генов</h2>

@if (ViewBag.Error == null)
{
    @ViewBag.firstChainName
    <table id="resultTable">
        <thead>
        <tr>
            <th>
                Тип фрагмента
            </th>
            <th>
                Продукт гена
            </th>
            <th>
                Позиция гена
            </th>

            <th>
                @ViewBag.characteristicName
            </th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < ViewBag.firstChainCharacteristics.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.firstChainPieceTypes[i]
                </td>
                <td id="chainNameCell">
                    @ViewBag.firstChainProducts[i]
                </td>
                <td>
                    @ViewBag.firstChainPositions[i]
                </td>
                <td>
                    @ViewBag.firstChainCharacteristics[i].Value
                </td>
            </tr>
        }
        </tbody>
    </table>

    <br/>

    @ViewBag.secondChainName
    <table id="resultTable">
        <thead>
        <tr>
            <th>
                Тип фрагмента
            </th>
            <th>
                Продукт гена
            </th>
            <th>
                Позиция гена
            </th>

            <th>
                @ViewBag.characteristicName
            </th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < ViewBag.secondChainCharacteristics.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.secondChainPieceTypes[i]
                </td>
                <td id="chainNameCell">
                    @ViewBag.secondChainProducts[i]
                </td>
                <td>
                    @ViewBag.secondChainPositions[i]
                </td>
                <td>
                    @ViewBag.secondChainCharacteristics[i].Value
                </td>
            </tr>
        }
        </tbody>
    </table>

    <br/>
    <div>
        Тип выравнивания: @ViewBag.validationType
    </div>

    <div>
        Оптимальный сдвиг: @ViewBag.optimalRotation
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/slider")
    @Scripts.Render("~/bundles/highCharts")
    @Styles.Render("~/Content/slider")
}}
