@using Libiada.Web.Extensions
@using Libiada.Web.Helpers
@{
    ViewBag.Title = "Subsequences comparer";
}

@Html.Partial("_AngularControllerInitializer", "SequencesAlignment")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div ng-controller="SequencesAlignmentCtrl">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters-count="selectedMattersCount">
        </matters-table>
        @Html.Partial("_FeaturesSelect")
        <hr />
        @Html.Partial("_Filters")
        <h4>Sort matrix by characterisitc:</h4>
        <characteristic characteristic-types="::characteristicTypes"
                        characteristics-dictionary="::characteristicsDictionary"
                        nature="nature"
                        notations="::notations"
                        pause-treatments="::pauseTreatments"
                        trajectories="::trajectories">
        </characteristic>
        <h4>Subsequences comparison characteristic:</h4>
        <characteristics characteristic-types="::characteristicTypes"
                         characteristics-dictionary="::characteristicsDictionary"
                         nature="nature"
                         notations="::notations"
                         languages="::languages"
                         translators="::translators"
                         pause-treatments="::pauseTreatments"
                         trajectories="::trajectories"
                         percentage-differense-needed="::percentageDifferenseNeeded">
        </characteristics>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="maxPercentageDifference">Maximum difference (%):</label>
            <div class="col-md-10">
                <input class="form-control" name="maxPercentageDifference" id="maxPercentageDifference" type="number" value="0" step="any" min="0" max="100" />
                @Html.ValidationMessage("maxPercentageDifference", "", new { @class = "text-danger" })
            </div>
        </div>
        @if (User.IsAdmin())
        {
            <div class="form-check mb-2">
                <input type="checkbox"
                       class="form-check-input"
                       name="filterMatrix"
                       id="filterMatrix"
                       ng-model="filterMatrix"
                       value="true" />
                <label class="form-check-label" for="filterMatrix">
                    Filter matrix using similarity metrics
                </label>
            </div>
        }
        <input type="hidden" name="filterMatrix" value="false" />
        @Html.Partial("_MattersSubmit")
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/characteristic.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/characteristics.js" asp-append-version="true"></script>
}
