@model LibiadaWeb.characteristic_applicability

@{
    ViewBag.Title = "Применимость характеристик";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данную применимость характеристик?</h3>
<fieldset>
    <legend>Применимость характеристик</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
