    ﻿@model MusicSequence

    @section Scripts {
        @Scripts.Render("~/bundles/loadingWindow")
        @Scripts.Render("~/bundles/midijs")
        @Scripts.Render("~/bundles/d3js")
    }

    @{
        ViewBag.Title = "Fmotif dictionary";
    }

    <h2>@ViewBag.Title</h2>

    @Html.Partial("_AngularControllerInitializer", "FmotifsDictionaryController")

    <div ng-controller="FmotifsDictionaryCtrl" ng-init="onload()">
        <div>
            <h4>Music sequence</h4>
            @*<input type="button" class="btn btn-default" id="all" ng-click="playAll()" value="PlayAll" />*@
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Matter.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Matter.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Matter.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Matter.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Notation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Notation)
                </dd>
            </dl>
        </div>
        <div>
            <h4>Formal motifs</h4>
            <hr />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Formal motif ID
                        </th>
                        <th>
                            Notation
                        </th>
                        <th>
                            Acoustic
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fmotif in data.fmotifs">
                        <th>
                            {{fmotif.Id}}
                        </th>
                        <th>
                            <div id="notation_{{fmotif.Id}}"></div>
                        </th>
                        <th>
                            <div id="visualization_{{fmotif.Id}}"></div>
                            <input type="button" class="btn btn-default" ng-click="play($index)" value="Play" />
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
