@using LibiadaCore.Extensions
@model MusicSequence

@{
    ViewBag.Title = "Music sequence details";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AngularControllerInitializer", "FmotifsDictionaryController")

<div>
    <h4>Music sequence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matter.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matter.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Matter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matter.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notation)
        </dd>
    </dl>
</div>
<div ng-init="fmotifs(@ViewBag.Fmotifs)">
    <h4>Formal motifs</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(Fmotif => Fmotif.Id)
            </th>
            <th>
                Count of entries
            </th>
            <th>
                Note
            </th>
        </tr>
        @foreach (var fmotif in ViewBag.Fmotifs)
        {
            <tr>
                <th rowspan="@(fmotif.Value.Item2.Count*3+1)">
                    @fmotif.Key
                </th>
                <th rowspan="@(fmotif.Value.Item2.Count*3+1)">
                    @fmotif.Value.Item1
                </th>
            </tr>
            foreach (var note in fmotif.Value.Item2)
            {
                <tr>
                    <th colspan="@(note.Item2.Count != 0 ? note.Item2.Count : 1)">
                        @note.Item1
                    </th>
                </tr>
                if (note.Item2.Count != 0)
                {
                    <tr>
                        @foreach (var pitch in note.Item2)
                        {
                            <th>
                                @pitch
                            </th>
                        }
                    </tr>
                    <tr>
                        @foreach (var pitch in note.Item2)
                        {
                            <th>
                                @note.Item3 / @note.Item4
                            </th>
                        }
                    </tr>
                }
                else
                {
                    <tr>
                        <th>
                            Pause
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @note.Item3 / @note.Item4
                        </th>
                    </tr>
                }
            }
        }
    </table>
</div>
