@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление бинарных характеристик";
}

<script language="javascript">

    $(document).ready(function () {
        var filter = $("[name='filter']")[0];
        filter.onclick = FiltrationSwitch;
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });

    function FiltrationSwitch() {
        if ($("#filter")[0].checked) {
            $("#filter_div")[0].hidden = false;
        } else {
            $("#filter_div")[0].hidden = true;
        }
    }
    
</script>

<h2>Вычисление бинарных характеристик</h2>
@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название объекта
                </th>
                <th>
                    Тип цепочки
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList = Html.RadioButtonGroup("matterId", (List<SelectListItem>) ViewBag.mattersList);

                for (int i = 0; i < mattersList.Count; i++)
                {
                    <tr>
                        <td>
                            @mattersList[i]
                        </td>
                        <td>
                            @ViewBag.matters[i].nature.name
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br/>
    @Html.Label("Характеристика:")
    <br/>
    <select name="characteristicId" id="characteristicId">
        @foreach (var option in ViewBag.characteristicsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label("Привязка:")
    <br/>
    <select name="linkUpId">
        @foreach (var option in ViewBag.linkUpsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label("Форма записи цепочки:")
    <br/>
    <select name="notationId">
        @foreach (var option in ViewBag.notationsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label(" Язык литературного произведения")
    <br/>
    <select name="languageId">
        @foreach (var option in ViewBag.language_id)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.CheckBox("filter")
    @Html.Label("Фильтрация")
    <br/>
    <div id="filter_div" hidden="true">
        @Html.Label("Число выводимых зависимостей")
        <br/>
        <input type="number" name="filtersize" id="filtersize" min="1" value="10"/>
    </div>
    <br/>
    <input type="submit" value="Вычислить" />
}