@using LibiadaWeb.Helpers

@{
    ViewBag.Title = "Subsequences comparer";
}

@Scripts.Render("~/bundles/Characteristic")
@Html.Partial("_AngularControllerInitializer", "SequencesAlignmentController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal" ng-controller="SequencesAlignmentCtrl">
    <h4>Sequences and parameters</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <matters-table matters="matters"
                   nature="nature"
                   groups="groups"
                   sequence-types="sequenceTypes"
                   maximum-selected-matters="maximumSelectedMatters"
                   selected-matters="selectedMatters">
    </matters-table>
    @Html.Partial("_FeaturesSelect")
    @Html.Partial("_Filters")
    <characteristic characteristic-types="characteristicTypes"
                    nature="nature"
                    notations="notations"
                    languages="languages"
                    translators="translators">
    </characteristic>

    <characteristic characteristic-types="characteristicTypes"
                    nature="nature"
                    notations="notations"
                    languages="languages"
                    translators="translators"
                    characteristic-name="subsequencesCharacteristicLinkId"
                    title="Subsequences characteristic">
    </characteristic>

    <hr />
    <div class="form-group">
        <label class="control-label col-md-2" for="maxPercentageDifference">Maximum difference (%):</label>
        <div class="col-md-10">
            <input class="form-control" name="maxPercentageDifference" id="maxPercentageDifference" type="number" value="0" step="any" min="0" max="100" />
            @Html.ValidationMessage("maxPercentageDifference", "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.Partial("_MattersSubmit")
</div>
}
