@using LibiadaWeb.Helpers

@{
    ViewBag.Title = "Subsequences comparer";
}

@Scripts.Render("~/bundles/Characteristic")
@Html.Partial("_AngularControllerInitializer", "SequencesAlignmentController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="SequencesAlignmentCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        @Html.Partial("_FeaturesSelect")
        @Html.Partial("_Filters")
        <characteristic characteristic-types="characteristicTypes"
                        characteristics-dictionary="characteristicsDictionary"
                        nature="nature"
                        notations="notations"
                        pause-treatments="pauseTreatments">
        </characteristic>

        <characteristic characteristic-types="characteristicTypes"
                        characteristics-dictionary="characteristicsDictionary"
                        nature="nature"
                        notations="notations"
                        characteristic-name="subsequencesCharacteristicLinkId"
                        title="Subsequences characteristic"
                        pause-treatments="pauseTreatments">
        </characteristic>

        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="maxPercentageDifference">Maximum difference (%):</label>
            <div class="col-md-10">
                <input class="form-control" name="maxPercentageDifference" id="maxPercentageDifference" type="number" value="0" step="any" min="0" max="100" />
                @Html.ValidationMessage("maxPercentageDifference", "", new { @class = "text-danger" })
            </div>
        </div>
        @if (AccountHelper.IsAdmin())
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="checkbox" name="filterMatrix" ng-model="filterMatrix" value="true" />
                        Filter matrix using similarity metrics
                    </label>
                </div>
            </div>
        }
        <input type="hidden" name="filterMatrix" value="false" />
        @Html.Partial("_MattersSubmit")
    </div>
}
