@{
    ViewBag.Title = "Subsequences comparer";
}

@if (ViewBag.Error == null)
{
    <h2>@ViewBag.Title</h2>

    @Html.Partial("_AngularControllerInitializer", "SubsequencesComparerResultController")
    <div class="form-horizontal" ng-app="SubsequencesComparerResult" ng-controller="SubsequencesComparerResultCtrl">
        @Html.Partial("_ModalLoadingWindow")
        <div>
            Sequences characteristic: <b>{{sequenceCharacteristicName}}</b>
        </div>

        <div>
            Subsequences characteristic: <b>{{characteristicName}}</b>
        </div>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td/>
                <td ng-repeat="matterName in mattersNames" title="{{matterName}}">{{$index + 1}}</td>
            </tr>
            <tr ng-repeat="similarity in similarities">
                <td title="{{mattersNames[$index]}}">{{$index + 1}}</td>
                <td ng-repeat="value in similarity"
                    ng-click="showEqualPairs($parent.$index, $index)"
                    ng-style="getHighlightColor(value.formula1)"
                    title="{{mattersNames[$parent.$index]}} &#13{{mattersNames[$index]}}">
                    {{(value.formula1 * 100).toFixed(3)}}%
                    <br />
                    {{(value.formula2).toFixed(5)}}
                    <br />
                    {{(value.formula3 * 100).toFixed(3)}}%
                </td>
            </tr>
            </tbody>
        </table>

        <hr />

        <div class="form-group">
            <label>Maximum difference = {{maxPercentageDifference}}%</label>
        </div>

        <div class="form-group">
            <label>
                1. Отношение числа совпавших значений к их общему числу.
                <br />
                2. (Отношение среднего относительного отклонения к числу совпавших пар) / формула 1.
                <br />
                3. Отношение суммы значений характеристик для совпавших элементов к сумме значений всех характеристик.
            </label>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="matterName in mattersNames"> <b> {{$index + 1}} - {{matterName}} </b> </li>
        </ul>

        <hr />

        @Html.Partial("_Filters")

        <table class="table table-bordered table-striped" ng-repeat="equalElement in equalElementsToShow" ng-show="elementVisible(equalElement)">
            <tbody>
            <tr>
                <td>
                    <b> {{$index + 1}}. </b>
                    <br />
                    First sequence: <b> {{mattersNames[firstMatterIndex]}} </b>
                    <br />
                    Feature: {{features[characteristics[firstMatterIndex][equalElement.FirstSubsequenceIndex].FeatureId]}}
                    <br />
                    Length = {{characteristics[firstMatterIndex][equalElement.FirstSubsequenceIndex].Lengths[0]}}
                    <div ng-repeat="attributeId in characteristics[firstMatterIndex][equalElement.FirstSubsequenceIndex].Attributes">
                        {{attributes[attributeValues[attributeId].attribute]}} = {{attributeValues[attributeId].value}}
                    </div>
                    <i> Characteristic value = {{characteristics[firstMatterIndex][equalElement.FirstSubsequenceIndex].CharacteristicsValues[0]}} </i>
                    <br />
                    <br />

                    Second sequence: <b> {{mattersNames[secondMatterIndex]}} </b>
                    <br />
                    Feature: {{features[characteristics[secondMatterIndex][equalElement.SecondSubsequenceIndex].FeatureId]}}
                    <br />
                    Length = {{characteristics[secondMatterIndex][equalElement.SecondSubsequenceIndex].Lengths[0]}}
                    <div ng-repeat="attributeId in characteristics[secondMatterIndex][equalElement.SecondSubsequenceIndex].Attributes">
                        {{attributes[attributeValues[attributeId].attribute]}} = {{attributeValues[attributeId].value}}
                    </div>
                    <i> Characteristic value = {{characteristics[secondMatterIndex][equalElement.SecondSubsequenceIndex].CharacteristicsValues[0]}} </i>
                    <br />
                    <br />
                    <i> Absolute difference = {{characteristics[firstMatterIndex][equalElement.FirstSubsequenceIndex].CharacteristicsValues[0] - characteristics[secondMatterIndex][equalElement.SecondSubsequenceIndex].CharacteristicsValues[0] | makePositive}}</i>
                    <br />
                    <i> Percentage difference = {{equalElement.Difference * 100}}%</i>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#additionalActions{{$index + 1}}" aria-expanded="false" aria-controls="additionalActions{{$index + 1}}">+</button>
                        </div>
                        <div class="panel-collapse collapse" id="additionalActions{{$index + 1}}">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="characteristic">Characteristic:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" title="Characteristic" ng-model="characteristic.characteristicType" ng-options="c.Text for c in characteristicTypes" ng-change="selectLink(characteristic)" id="characteristic"></select>
                                        <input type="hidden" name="characteristicId" ng-value="characteristic.characteristicType.Value" />
                                    </div>
                                </div>
                                <div class="form-group" ng-show="isLinkable(characteristic)">
                                    <label class="control-label col-md-2" for="link">Link:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" title="Link" ng-model="characteristic.link" ng-options="l.Text for l in characteristic.characteristicType.CharacteristicLinks" id="link"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="windowSize">Window size:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" ng-model="windowSize" type="number" value="50" min="1" id="windowSize" />
                                        @Html.ValidationMessage("length", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="step">Step size:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" ng-model="step" type="number" value="1" min="1" id="step" />
                                        @Html.ValidationMessage("step", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" class="btn btn-default" ng-click="calculateLocalCharacteristics(characteristics[firstMatterIndex][equalElement.FirstSubsequenceIndex].Id, characteristics[secondMatterIndex][equalElement.SecondSubsequenceIndex].Id, $index)" value="CalculateLocalCharacteristics" />
                                    </div>
                                </div>
                                <div id="chart{{$index}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/d3js")
    }
}
