@{
    ViewBag.Title = "Subsequences comparer";
}

@if (ViewBag.Error == null)
{
    <h2>@ViewBag.Title</h2>

    @Html.Partial("_AngularControllerInitializer", "SubsequencesComparerResultController")
    <div class="form-horizontal" ng-app="SubsequencesComparerResult" ng-controller="SubsequencesComparerResultCtrl">
        @Html.Partial("_ModalLoadingWindow")
        <div>
            Sequences characteristic: <b>{{sequenceCharacteristicName}}</b>
        </div>

        <div>
            Subsequences characteristic: <b>{{characteristicName}}</b>
        </div>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td/>
                <td ng-repeat="matterName in mattersNames" title="{{matterName}}">{{$index + 1}}</td>
            </tr>
            <tr ng-repeat="similarity in similarities">
                <td title="{{mattersNames[$index]}}">{{$index + 1}}</td>
                <td ng-repeat="value in similarity"
                    ng-click="showEqualPairs($parent.$index, $index)"
                    ng-style="getHighlightColor(value.formula1)"
                    title="{{mattersNames[$parent.$index]}} &#13{{mattersNames[$index]}}">
                    {{(value.formula1 * 100).toFixed(3)}}%
                    <br />
                    {{(value.formula2).toFixed(5)}}
                    <br />
                    {{(value.formula3 * 100).toFixed(3)}}%
                </td>
            </tr>
            </tbody>
        </table>

        <hr />

        <div class="form-group">
            <label>Maximum difference = {{maxPercentageDifference}}%</label>
        </div>

        <div class="form-group">
            <label>
                1. Отношение числа совпавших значений к их общему числу.
                <br />
                2. (Отношение среднего относительного отклонения к числу совпавших пар) / формула 1.
                <br />
                3. Отношение суммы значений характеристик для совпавших элементов к сумме значений всех характеристик.
            </label>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="matterName in mattersNames"> <b> {{$index + 1}} - {{matterName}} </b> </li>
        </ul>

        <hr />

        @Html.Partial("_Filters")

        <table class="table table-bordered table-striped" ng-repeat="equalElement in equalElementsToShow" ng-show="elementVisible(equalElement)">
            <tbody>
            <tr>
                <td>
                    <b> {{$index + 1}}. </b>
                    <br />
                    First sequence: <b> {{mattersNames[equalElement.FirstMatterId]}} </b>
                    <br />
                    Feature: {{features[characteristics[equalElement.FirstMatterId][equalElement.FirstSubsequenceId].FeatureId]}}
                    <br />
                    Length = {{characteristics[equalElement.FirstMatterId][equalElement.FirstSubsequenceId].Lengths[0]}}
                    <div ng-repeat="attributeId in characteristics[equalElement.FirstMatterId][equalElement.FirstSubsequenceId].Attributes">
                        {{attributes[attributeValues[attributeId].attribute]}} = {{attributeValues[attributeId].value}}
                    </div>
                    <i> Characteristic value = {{characteristics[equalElement.FirstMatterId][equalElement.FirstSubsequenceId].CharacteristicsValues[0]}} </i>
                    <br />
                    <br />

                    Second sequence: <b> {{mattersNames[equalElement.SecondMatterId]}} </b>
                    <br />
                    Feature: {{features[characteristics[equalElement.SecondMatterId][equalElement.SecondSubsequenceId].FeatureId]}}
                    <br />
                    Length = {{characteristics[equalElement.SecondMatterId][equalElement.SecondSubsequenceId].Lengths[0]}}
                    <div ng-repeat="attributeId in characteristics[equalElement.SecondMatterId][equalElement.SecondSubsequenceId].Attributes">
                        {{attributes[attributeValues[attributeId].attribute]}} = {{attributeValues[attributeId].value}}
                    </div>
                    <i> Characteristic value = {{characteristics[equalElement.SecondMatterId][equalElement.SecondSubsequenceId].CharacteristicsValues[0]}} </i>
                    <br />
                    <br />
                    <i> Difference = {{characteristics[equalElement.FirstMatterId][equalElement.FirstSubsequenceId].CharacteristicsValues[0] - characteristics[equalElement.SecondMatterId][equalElement.SecondSubsequenceId].CharacteristicsValues[0] | makePositive}}</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/d3js")
    }
}
