@using Newtonsoft.Json
@model IEnumerable<Matter>

@{
    ViewBag.Title = "Relation characteristics";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(JsonConvert.SerializeObject(ViewBag.data));
    AccordanceController(data);
</script>

<h2>Relation characteristics</h2>
@using (Html.BeginForm())
{
    <div ng-app="Accordance">
        <div class="form-horizontal" ng-controller="AccordanceCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_NatureSelect")
            @Html.Partial("_MattersTable")
            @Html.Partial("_Characteristic")
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.CheckBox("filter", new { ng_model = "showFilters" })
                    @Html.Label("filter", "Filtration")
                </div>
            </div>
            <div ng-show="showFilters">
                <div class="form-group">
                    @Html.Label("filterSize", "Count of strongest dependencies to show", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" name="filterSize" type="number" value="10" min="1" />
                        @Html.ValidationMessage("filterSize", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.CheckBox("frequencyFilter", new { ng_model = "frequencyFilter" })
                        @Html.Label("frequencyFilter", "Calculate only for X most frequent elements")
                    </div>
                </div>
                <div class="form-group" ng-show="frequencyFilter">
                    @Html.Label("frequencyCount", "X", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" name="frequencyCount" type="number" value="10" min="1" />
                        @Html.ValidationMessage("frequencyCount", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/accordance")
}
