@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление бинарных характеристик";
}

<script type="text/javascript">

    $(document).ready(function() {
        $('input[name="sequenceId"]').each(function (i, item) {
            $(item).click(GetSequenceElements);
        });

        AddDataTablesWithSubmit();
    });

    function GetSequenceElements(event) {
        $.ajax({
            url: "/api/SequenceElements/" + event.target.value,
            type: "GET",
            success: function(elements) {
                $("#oneWordDiv")[0].innerHTML = "";

                var table = $('<table/>').attr('id', 'elementsTable');
                var header = $('<thead/>').append($('<tr/>').append($('<th/>').text('Элемент')));
                var body = $('<tbody/>');

                $(elements).each(function(i, item) {
                    var checkbox = $('<label/>').html(item.Text).prepend($('<input/>').attr('type', "radio").attr('name', 'wordId').attr('value', item.Value));
                    body.append($('<tr/>').append($('<td/>').append(checkbox)));
                });

                table.append(header).append(body);
                $("#oneWordDiv").append(table);
                AddDataTablesWithSubmit("#elementsTable");
            }
        });
    }

</script>

<h2>Вычисление бинарных характеристик</h2>
@using (Html.BeginForm())
{
    @Html.SequencesTable((List<SelectListItem>)ViewBag.sequenceCheckBoxes, (List<CommonSequence>)ViewBag.sequences, (List<string>)ViewBag.languages, (List<string>)ViewBag.fastaHeaders, (List<string>)ViewBag.remoteIds)
    <br/>
    @Html.Label("Характеристика:")
    <select name="characteristicId" id="characteristicId">
        @foreach (var option in ViewBag.characteristicsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label("Привязка:")
    <select name="linkId">
        @foreach (var option in ViewBag.linksList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    <br/>
    @Html.CheckBox("filter", "Фильтрация", new Dictionary<string, object> { { "onclick", "SwitchVisibilityByName('filterDiv')" } })
    <br/>
    <div id="filterDiv" hidden>
        @Html.Label("Число выводимых зависимостей")
        <input type="number" name="filtersize" id="filtersize" min="1" value="10"/>
    </div>
    <br/>
    @Html.CheckBox("frequency", "Считать зависимости только для Х самых частых элементов", new Dictionary<string, object> { { "onclick", "SwitchVisibilityByName('frequencyDiv')" } })
    <br/>
    <div id="frequencyDiv" hidden>
        @Html.Label("X:")
        <input type="number" name="frequencyCount" id="frequencyCount" min="1" value="10"/>
    </div>
    <br/>
    @Html.CheckBox("oneWord", "Считать зависимости только для указанного слова", new Dictionary<string, object> { { "onclick", "SwitchVisibilityByName('oneWordDiv')" } })
    <br/>
    <div id="oneWordDiv" hidden>

    </div>
    <br/>
    <input type="submit" value="Вычислить"/>
}