@model dynamic

@{
    ViewBag.Title = "Relation characteristic calculation results";
}
@if (ViewBag.Error == null)
{
    <h2>Relation characteristic calculation results</h2>
    <h2>@ViewBag.matterName</h2>
    <h2>@ViewBag.characteristicName</h2>
    <h2>@ViewBag.notationName</h2>

    if (!ViewBag.isFilter)
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        First element\Second element
                    </th>
                    @for (int k = 0; k < ViewBag.elements.Count; k++)
                    {
                        <th>
                            @ViewBag.elements[k].Name
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.elements.Count; i++)
                {
                    <tr>
                        <td>
                            @ViewBag.elements[i].Name
                        </td>
                        @for (int j = 0; j < ViewBag.elements.Count; j++)
                        {
                            <td>
                                @ViewBag.characteristics[i * ViewBag.elements.Count + j].Value 
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        First element
                    </th>
                    <th>
                        Second element
                    </th>
                    <th>
                        @ViewBag.characteristicName
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int l = 0; l < ViewBag.filteredResult.Count; l++)
                {
                    <tr>
                        <td>
                            @ViewBag.firstElements[l].Value
                        </td>
                        <td>
                            @ViewBag.secondElements[l].Value
                        </td>
                        <td>
                            @ViewBag.filteredResult[l].Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}