@{
    ViewBag.Title = "Relation characteristic calculation results";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    <h2>@ViewBag.matterName</h2>
    <h2>@ViewBag.characteristicName</h2>
    <h2>@ViewBag.notationName</h2>

    if (ViewBag.isFilter)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        First element
                    </th>
                    <th>
                        Second element
                    </th>
                    <th>
                        @ViewBag.characteristicName
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int l = 0; l < ViewBag.filteredResult.Count; l++)
                {
                    <tr>
                        <td>
                            @ViewBag.firstElements[l].Value
                        </td>
                        <td>
                            @ViewBag.secondElements[l].Value
                        </td>
                        <td>
                            @ViewBag.filteredResult[l].Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        First element\Second element
                    </th>
                    @for (int k = 0; k < ViewBag.elements.Length; k++)
                    {
                        <th>
                            @{
                                var name = string.IsNullOrEmpty(ViewBag.elements[k].Name) ? ViewBag.elements[k].Value : ViewBag.elements[k].Name;
                            }
                            @name
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.elements.Length; i++)
                {
                    <tr>
                        <td>
                            @{
                                var name = string.IsNullOrEmpty(ViewBag.elements[i].Name) ? ViewBag.elements[i].Value : ViewBag.elements[i].Name;
                            }
                            @name
                        </td>
                        @for (int j = 0; j < ViewBag.elements.Length; j++)
                        {
                            <td>
                                @if (i != j) { <span>@ViewBag.characteristics[ViewBag.elements[i].Id][ViewBag.elements[j].Id]</span> }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}