@{
    ViewBag.Title = "Relation characteristic calculation results";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "CalculationResultController")
    <div ng-controller="CalculationResultCtrl">
        <h2>{{matterName}}</h2>
        <h2>{{characteristicName}}</h2>
        <h2>{{notationName}}</h2>

        <div ng-if="!isFilter">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            First element\Second element
                        </th>
                        <th ng-repeat="element in elements">
                            {{element.Name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="element in elements">
                        <td>
                            {{element.Name}}
                        </td>
                        <td ng-repeat="element in elements">
                            {{characteristics[$parent.$index * elements.length + $index}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="isFilter">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            First element
                        </th>
                        <th>
                            Second element
                        </th>
                        <th>
                            {{characteristicName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in filteredResult">
                        <td>
                            {{firstElements[$index].Value}}
                        </td>
                        <td>
                            {{secondElements[$index].Value}}
                        </td>
                        <td>
                            {{filteredResult[$index].Value}}
                        </td>
                        @for (int j = 0; j < ViewBag.elements.Length; j++)
                        {
                            <td>
                                @if (i != j) { <span>@ViewBag.characteristics[ViewBag.elements[i].Id][ViewBag.elements[j].Id]</span> }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/d3js")
}
