@model LibiadaWeb.measure

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<fieldset>
    <legend>measure</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.notation_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.creation_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.matter_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.dissimilar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.piece_type_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piece_type.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.piece_position)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piece_position)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.beats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beats)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.beatbase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.beatbase)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ticks_per_beat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ticks_per_beat)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.fifths)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fifths)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
