@model IEnumerable<LibiadaWeb.measure>

@{
    ViewBag.Title = "Такты";
}

<h2>Перечень тактов</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.notation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matter_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dissimilar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.piece_type_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.piece_position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beatbase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ticks_per_beat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fifths)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.remote_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remote_db.name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.matter.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dissimilar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.piece_type.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.piece_position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beatbase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ticks_per_beat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fifths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remote_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remote_db_id)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
