@using LibiadaWeb.Helpers
@model LibiadaWeb.matter

@{
    ViewBag.Title = "Объекты";
}
@Html.ValidationMessage("Error")
<h2>Создание</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script language="javascript">

    function SelectChainType(event) {
        switch (event.target.value) {
            case "1":
                $("#literatureChain")[0].hidden = true;
                break;
            case "2":
                $("#literatureChain")[0].hidden = true;
                break;
            case "3":
                $("#literatureChain")[0].hidden = false;
                break;
            default:
        }
    }

    $(document).ready(function() {
        var natureSelect = $("[name='nature_id']")[0];
        natureSelect.onclick = SelectChainType;
    });
    
</script>

@using (Html.BeginForm("Create", "Matter", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Объект</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
         
        <div class="editor-label">
            @Html.Label("Файл цепочки")
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file"/>
        </div>

        <div class="editor-label">
            <label>Форма записи цепочки</label>
        </div>
        <select name="notationId">
            @foreach (var option in ViewBag.notation_id)
            {
                <option value="@option.Value">@option.Text</option>
            }
        </select>

        <div class="editor-label">
            @Html.LabelFor(model => model.nature_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("nature_id")
            @Html.ValidationMessageFor(model => model.nature_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div id="literatureChain" hidden="true">
            <div class="editor-label">
                <label>Язык литературного произведения</label>
            </div>
            <select name="languageId">
                @foreach (var option in ViewBag.language_id)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>
            <br/>
            @Html.CheckBox("original", "Произведение является оригиналом, а не переводом", null)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remote_db_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("remote_db_id", String.Empty)
            @Html.ValidationMessageFor(model => model.remote_db_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_in_remote_db)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_in_remote_db)
            @Html.ValidationMessageFor(model => model.id_in_remote_db)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
