@using LibiadaWeb.Helpers

@model LibiadaWeb.chain

@{
    ViewBag.Title = "Цепочки";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Цепочка</legend>
    
    <div class="display-label">Цепочка</div>
    <p>
        @ViewBag.stringChain
    </p>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.notation_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.matter_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.dissimilar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.remote_db_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_db.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remote_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
