@model LibiadaWeb.chain

@{
    ViewBag.Title = "Цепочки";
}

<h2>Редактирование</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Цепочка</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.notation_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("notation_id", String.Empty)
            @Html.ValidationMessageFor(model => model.notation_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.creation_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.creation_date)
            @Html.ValidationMessageFor(model => model.creation_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matter_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("matter_id", String.Empty)
            @Html.ValidationMessageFor(model => model.matter_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dissimilar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dissimilar)
            @Html.ValidationMessageFor(model => model.dissimilar)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.remote_db_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("remote_db_id", String.Empty)
            @Html.ValidationMessageFor(model => model.remote_db_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remote_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.remote_id)
            @Html.ValidationMessageFor(model => model.remote_id)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
