@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление бинарных характеристик";
}

<h2>Вычисление бинарных характеристик</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>
                Название объекта
            </th>
            <th>
                Тип цепочки
            </th>
        </tr>
        @{
    List<MvcHtmlString> mattersList = Html.RadioButtonGroup("matterId", (List<SelectListItem>)ViewBag.mattersList);


    for (int i = 0; i < mattersList.Count; i++)
    {
                <tr>
                    <td>
                        @mattersList[i]
                    </td>
                    <td>
                        @ViewBag.matters[i].nature.name
                    </td>
                </tr>
    }
        }

    </table>
    <br/>
    @Html.Label("Характеристика:")
    <br/>
    <select name="characteristicId" id="characteristicId">
        @foreach (var option in ViewBag.characteristicsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label("Привязка:")
    <br/>
    <select name="linkUpId">
        @foreach (var option in ViewBag.linkUpsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label("Форма записи цепочки:")
    <br/>
    <select name="notationId">
        @foreach (var option in ViewBag.notationsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <br/>
    @Html.Label(" Язык литературного произведения")
    <br/>
    <select name="languageId">
    @foreach (var option in ViewBag.language_id)
    {
        <option value="@option.Value">@option.Text</option>
    }
    </select>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}