@model note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.denominator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denominator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onumerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onumerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odenominator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odenominator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.triplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.triplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notation.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notation.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tie.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tie.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
