@model LibiadaWeb.note

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>note</legend>

    <div class="display-label">value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">notation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">creation_date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">numerator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numerator)
    </div>

    <div class="display-label">denominator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.denominator)
    </div>

    <div class="display-label">ticks</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ticks)
    </div>

    <div class="display-label">onumerator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.onumerator)
    </div>

    <div class="display-label">odenominator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.odenominator)
    </div>

    <div class="display-label">triplet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.triplet)
    </div>

    <div class="display-label">priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.priority)
    </div>

    <div class="display-label">tie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tie.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
