@model LibiadaWeb.note

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<fieldset>
    <legend>note</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.notation_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.creation_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.numerator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numerator)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.denominator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.denominator)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ticks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ticks)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.onumerator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.onumerator)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.odenominator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.odenominator)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.triplet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.triplet)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.priority)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.tie_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tie.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
