@model LibiadaWeb.note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>note</legend>

    <div class="display-label">value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">notation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">creation_date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">numerator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numerator)
    </div>

    <div class="display-label">denominator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.denominator)
    </div>

    <div class="display-label">ticks</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ticks)
    </div>

    <div class="display-label">onumerator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.onumerator)
    </div>

    <div class="display-label">odenominator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.odenominator)
    </div>

    <div class="display-label">triplet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.triplet)
    </div>

    <div class="display-label">priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.priority)
    </div>

    <div class="display-label">tie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tie.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
