@model IEnumerable<LibiadaWeb.note>

@{
    ViewBag.Title = "Ноты";
}

<h2>Список нот</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                Значение (хеш)
            </th>
            <th>
                Описание
            </th>
            <th>
                Название
            </th>
            <th>
                Форма записи
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Числитель в дроби доли
            </th>
            <th>
                Знаменатель в дроби доли
            </th>
            <th>
                Количество МИДИ тиков в доле
            </th>
            <th>
                Оригинальный числитель в дроби доли
            </th>
            <th>
                Оригинальный знаменатель в дроби доли
            </th>
            <th>
                Флаг наличия триоли
            </th>
            <th>
                Приоритет
            </th>
            <th>
                Лига
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numerator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.denominator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ticks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.onumerator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.odenominator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.triplet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tie.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Подробности", "Details", new { id=item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id=item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
