@model IEnumerable<LibiadaWeb.note>

@{
    ViewBag.Title = "Ноты";
}

<h2>Список нот</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.denominator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ticks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.onumerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.odenominator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.triplet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tie_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numerator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.denominator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ticks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.onumerator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.odenominator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.triplet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tie.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { item.id }) |
                    @Html.ActionLink("Подробности", "Details", new { item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
