@model IEnumerable<LibiadaWeb.note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            value
        </th>
        <th>
            description
        </th>
        <th>
            name
        </th>
        <th>
            notation
        </th>
        <th>
            creation_date
        </th>
        <th>
            numerator
        </th>
        <th>
            denominator
        </th>
        <th>
            ticks
        </th>
        <th>
            onumerator
        </th>
        <th>
            odenominator
        </th>
        <th>
            triplet
        </th>
        <th>
            priority
        </th>
        <th>
            tie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notation.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numerator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.denominator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ticks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onumerator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odenominator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.triplet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tie.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
