@model dynamic

@{
    ViewBag.Title = "title";
}
<script>
    var app = angular.module('GenesImport', []);

    app.controller('GenesImportCtrl', ['$scope', function($scope) {

            var data = @Html.Raw(Json.Encode(ViewBag.data));

            MapModelFromJson($scope, data);
            $scope.localFile = false;
        }
    ]);

</script>

<h2>title</h2>
@using (Html.BeginForm("Index", "GenesImport", FormMethod.Post, new { enctype = "multipart/form-data", data_ng_app = "GenesImport" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" data-ng-controller="GenesImportCtrl">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Загружать цепочку из локального файла", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("localFile", new { data_ng_model = "localFile" })
            </div>
        </div>

        <div class="form-group" data-ng-show="localFile">
            @Html.Label("Файл цепочки", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file"/>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Цепочка", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select data-ng-model="sequenceId" data-ng-options="m.Value as m.Text for m in sequences"></select>
                <input type="hidden" name="sequenceId" value="{{sequenceId}}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
}


