@{
    ViewBag.Title = "Subsequences import results";
}

<h2>Subsequences import results for @ViewBag.matterName</h2>


@if (ViewBag.Error == null)
{
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Feature
                    </th>
                    <th>
                        Gene position
                    </th>
                    <th>
                        Gene length
                    </th>
                    <th>
                        Complementary
                    </th>
                    <th>
                        Partial
                    </th>
                    <th>
                        Additional positions count
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int d = 0; d < ViewBag.genes.Count; d++)
                {
                    <tr>
                        <td>
                            @ViewBag.genes[d].Feature.Name
                        </td>
                        <td>
                            @ViewBag.genes[d].Start
                        </td>
                        <td>
                            @ViewBag.genes[d].Length
                        </td>
                        <td>
                            @ViewBag.genes[d].Complementary
                        </td>
                        <td>
                            @ViewBag.genes[d].Partial
                        </td>
                        <td>
                            @ViewBag.genes[d].Position.Count
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
