@{
    ViewBag.Title = "Custom sequence characteristics";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AngularControllerInitializer", "CustomCalculationController")

@using (Html.BeginForm("Index", "CustomSequenceCalculation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="CustomCalculation" ng-controller="CustomCalculationCtrl">
        <h4>Sequence and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_CustomSequences")
        @Html.Partial("_CharacteristicsWithoutNotation")
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}
