@{
    ViewBag.Title = "Transformation of genetic sequences";
}

@Html.Partial("_AngularControllerInitializer", "SubsequencesCalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="SubsequencesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        <div class="form-group">
            <label class="control-label col-md-3" for="transformType">Transform nucleotide sequences To:</label>
            <div class="col-md-6">
                <input type="radio" name="transformType" id="transformTypeAmino" value="toAmino" checked />
                <label for="transformTypeAmino">
                    Amino
                </label>
            </div>
            <div class="col-md-6">
                <input type="radio" name="transformType" value="toTriplet" id="transformTypeTriplet" />
                <label for="transformTypeTriplet">
                    Triplet
                </label>
            </div>
        </div>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
