@model IEnumerable<Matter>

@{
    ViewBag.Title = "Transformation of genetic sequences";
}

@Html.Partial("_AngularControllerInitializer")

<h2>Transformation of genetic sequences</h2>

@using (Html.BeginForm())
{
    <div ng-app="SubsequencesCalculation">
        <div class="form-horizontal" ng-controller="SubsequencesCalculationCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_MattersTable")
            <label class="control-label col-md-2" for="transformType">Transform nucleotide sequences To:</label>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="transformType" value="toAmino" checked id="transformType" />
                        Amino
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="transformType" value="toTriplet" id="transformType" />
                        Triplet
                    </label>
                </div>
            </div>
            <hr />
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}
@section Scripts {
    
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/" + ViewBag.angularController)
}
