@{
    ViewBag.Title = "Transformation of genetic sequences";
}

@Html.Partial("_AngularControllerInitializer", "SubsequencesCalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="libiada" ng-controller="SubsequencesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="maximumSelectedMatters">
        </matters-table>
        <label class="control-label col-md-2" for="transformType">Transform nucleotide sequences To:</label>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="transformType" value="toAmino" checked id="transformType" />
                    Amino
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="transformType" value="toTriplet" id="transformType" />
                    Triplet
                </label>
            </div>
        </div>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
