@model LibiadaWeb.characteristic_type

@{
    ViewBag.Title = "Характеристики";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Характеристика</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">Группа характеристик</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_group.name)
    </div>

    <div class="display-label">Имя класса калькулятора</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.class_name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
