@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Кластеризация";
}

<h2>Кластеризация</h2>

<script type="text/javascript">

    var divCounter = 0;

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });

        AddCharacteristic();
    });

    

    function AddCharacteristic() {

        var characteristicTypes = new Array();
        var linkUps = new Array();
        var notations = new Array();

        @foreach (var option in ViewBag.characteristicsList)
        {
            @:characteristicTypes.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }

        @foreach (var option in ViewBag.linkUpsList)
        {
            @:linkUps.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }
        
        @foreach (var option in ViewBag.notationsList)
        {
            @:notations.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }

        var characteristicsDiv = $("<div/>").attr('name', 'characteristc' + divCounter).attr('id', 'characteristic' + divCounter);

        $("#characteristics_list").append(characteristicsDiv);
        
        var selectList = $('<select/>').attr('name', 'characteristicIds');
        for (var i = 0; i < characteristicTypes.length; i++) 
        {
            selectList.append(characteristicTypes[i]);
        }
        characteristicsDiv.append(selectList);
        
        selectList = $('<select/>').attr('name', 'linkUpIds');
        for (var i = 0; i < linkUps.length; i++) 
        {
            selectList.append(linkUps[i]);
        }
        characteristicsDiv.append(selectList);
        
        selectList = $('<select/>').attr('name', 'notationIds');
        for (var i = 0; i < notations.length; i++) 
        {
            selectList.append(notations[i]);
        }
        characteristicsDiv.append(selectList);
        
        //функция, возвращающая функцию для call back'а
        var tempDeleteFunction = function(element) {
            return function() {
                DeleteElementByName(element.elemName);
            };
        };
        var callBackDeleteFunction = tempDeleteFunction({ elemName: 'characteristic' + divCounter });
        characteristicsDiv.append($('<input/>').attr('type', 'button').attr('value','Удалить').click(callBackDeleteFunction));
        AppendBr(characteristicsDiv);
        
        divCounter++;
        return false;
    }
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название объекта
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList = Html.CheckBoxGroup("matterIds", (List<SelectListItem>) ViewBag.mattersList);
                int i = 0;

                foreach (var item in mattersList)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.Label("Количество таксонов")
    <input class="text-box single-line" id="clustersCount" name="clustersCount" type="number" value="2" />
    <br/>
    @Html.Label("Вес равномощности таксонов")
    <input class="text-box single-line" id="powerWeight" name="powerWeight" type="number" value="4" />
    <br/>
    @Html.Label("Вес нормализованного расстояния")
    <input class="text-box single-line" id="normalizedDistanseWeight" name="normalizedDistanseWeight" type="number" value="2" />
    <br/>
    @Html.Label("Вес расстояния")
    <input class="text-box single-line" id="distanseWeight" name="distanseWeight" type="number" value="1" />
    <br/>
    <br/>
    <input type="button" onclick=" AddCharacteristic() " value="Добавить характеристику"/>
    <div id="characteristics_list"></div>
    <br/>
    <input type="submit" value="Группировать" />
}