@using LibiadaWeb.Models
@model dynamic

@{
    ViewBag.Title = "Кластеризация";
}

<h2>Кластеризация</h2>

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
</script>

@using (Html.BeginForm("Index", "Clusterization", FormMethod.Post, new { enctype = "multipart/form-data", data_ng_app = "Calculation" }))
{
    <fieldset ng-controller="CalculationCtrl">
        <legend>Характеристики полных цепочек</legend>
        <select ng-model="natureId" ng-options="n.Value as n.Text for n in natures"></select>
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Создан</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="matter in matters | filter:{Nature: natureId}">
                <td>
                    <input type="checkbox" name="matterIds" ng-value="matter.Value"/>
                    <span ng-bind="matter.Text"></span>
                </td>
                <td ng-bind="matter.description"/>
                <td ng-bind="matter.created"/>
            </tr>
            </tbody>
        </table>
        <br/>
        <button type="button" ng-init="addCharacteristic()" ng-click="addCharacteristic()">Добавить характеристику</button>
        <br/>
        <div ng-repeat="characteristic in characteristics">
            <select title="Характеристика" ng-model="characteristic.characteristicType" ng-options="c.Text for c in characteristicTypes"></select>
            <input type="hidden" name="characteristicIds" ng-value="characteristic.characteristicType.Value"/>

            <select title="Привязка" ng-show="isLinkable(characteristic)" ng-model="characteristic.link" ng-options="l.Text for l in links"></select>
            <input type="hidden" name="linkIds" ng-value="characteristic.link.Value"/>

            <select title="Форма записи" ng-model="characteristic.notation" ng-options="n.Text for n in notationsFiltered"></select>
            <input type="hidden" name="notationIds" ng-value="characteristic.notation.Value"/>

            <div ng-switch="natureId">
                <div ng-switch-when="@Aliases.Nature.Literature">
                    <select title="Язык" ng-model="characteristic.language" ng-options="l.Text for l in languages"></select>
                    <input type="hidden" name="languageIds" ng-value="characteristic.language.Value"/>

                    <select title="Переводчик" ng-model="characteristic.translator" ng-options="t.Text for t in translators"></select>
                    <input type="hidden" name="translatorIds" ng-value="characteristic.translator.Value"/>
                </div>

                <div ng-switch-when="@Aliases.Nature.Genetic">
                </div>

                <div ng-switch-when="@Aliases.Nature.Music">
                </div>
            </div>

            <button type="button" ng-click="deleteCharacteristic(characteristic)" ng-disabled="characteristics.length <= 1">Удалить</button>
            <br/>
        </div>
        @Html.Label("Количество таксонов")
        <input class="text-box single-line" id="clustersCount" name="clustersCount" type="number" value="2"/>
        <br/>
        @Html.Label("Вес равномощности таксонов")
        <input class="text-box single-line" id="powerWeight" name="powerWeight" type="number" value="4"/>
        <br/>
        @Html.Label("Вес нормализованного расстояния")
        <input class="text-box single-line" id="normalizedDistanseWeight" name="normalizedDistanseWeight" type="number" value="2"/>
        <br/>
        @Html.Label("Вес расстояния")
        <input class="text-box single-line" id="distanseWeight" name="distanseWeight" type="number" value="1"/>
        <br/>
        <input type="submit" value="Группировать"/>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/calculation")
}