@using LibiadaWeb
@using LibiadaWeb.Helpers

@model dynamic

@{
    ViewBag.Title = "Кластеризация";
}

<h2>Кластеризация</h2>

<script type="text/javascript">

    var divCounter = 0;

    $(document).ready(function() {
        AddDataTablesWithSubmit();

        AddCharacteristic();
    });

    function AddCharacteristic() {

        var paramsList = new Object();
        
        @Html.FillOptionsList("characteristicIds", (IEnumerable<SelectListItem>)ViewBag.characteristicsList)
        @Html.FillOptionsList("linkUpIds",  (IEnumerable<SelectListItem>)ViewBag.linkUpsList)
        @Html.FillOptionsList("notationIds", (IEnumerable<SelectListItem>)ViewBag.notationsList)
        @Html.FillOptionsList("languageIds", (IEnumerable<SelectListItem>)ViewBag.languagesList)

        var characteristicsDiv = CreateCharacteristicsBlock(divCounter, paramsList);
        $("#characteristics_list").append(characteristicsDiv);
        divCounter++;
        
        return false;
    }
</script>

@using (Html.BeginForm())
{
    @Html.MattersTable((List<SelectListItem>)ViewBag.matterCheckBoxes, (List<matter>)ViewBag.matters)
    <br/>
    @Html.Label("Количество таксонов")
    <input class="text-box single-line" id="clustersCount" name="clustersCount" type="number" value="2" />
    <br/>
    @Html.Label("Вес равномощности таксонов")
    <input class="text-box single-line" id="powerWeight" name="powerWeight" type="number" value="4" />
    <br/>
    @Html.Label("Вес нормализованного расстояния")
    <input class="text-box single-line" id="normalizedDistanseWeight" name="normalizedDistanseWeight" type="number" value="2" />
    <br/>
    @Html.Label("Вес расстояния")
    <input class="text-box single-line" id="distanseWeight" name="distanseWeight" type="number" value="1" />
    <br/>
    <br/>
    <input type="button" onclick=" AddCharacteristic() " value="Добавить характеристику"/>
    <div id="characteristics_list"></div>
    <br/>
    <input type="submit" value="Группировать" />
}