@using LibiadaWeb.Models
@model dynamic

@{
    ViewBag.Title = "Buildings comparison";
}

<h2>Buildings comparison</h2>

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
    BuildingComparisonController(data);
</script>

@using (Html.BeginForm())
{
    <div ng-app="BuildingComparison">
        <div class="form-horizontal" ng-controller="BuildingComparisonCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_NatureSelect")
            @Html.Partial("_MattersTable")
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.CheckBox("congeneric")
                    @Html.Label("congeneric", "Compare buildings of congeneric sequences")
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Notation" ng-model="notation" ng-options="n.Text for n in notationsFiltered"></select>
                    <input type="hidden" name="notationId" ng-value="notation.Value" />
                    @Html.ValidationMessage("notationId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div ng-switch="natureId">
                <div ng-switch-when="@Aliases.Nature.Literature">
                    <div class="form-group">
                        <div class="col-md-10">
                            <select class="form-control" title="Language" ng-model="language" ng-options="l.Text for l in languages"></select>
                            <input type="hidden" name="languageIds" ng-value="language.Value" />
                            @Html.ValidationMessage("languageIds", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <select class="form-control" itle="Переводчик" ng-model="translator" ng-options="t.Text for t in translators"></select>
                            <input type="hidden" name="translatorIds" ng-value="translator.Value" />
                            @Html.ValidationMessage("translatorIds", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div ng-switch-when="@Aliases.Nature.Genetic">
                </div>
                <div ng-switch-when="@Aliases.Nature.Music">
                </div>
                <div ng-switch-when="@Aliases.Nature.Data">
                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.Label("length", "Window size", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control" name="length" type="number" value="10" min="1" />
                    @Html.ValidationMessage("length", "", new { @class = "text-danger" })
                </div>
            </div>
            <hr/>
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/buildingComparison")
}
