@model dynamic

@{
    ViewBag.Title = "Buildings comparison";
}

@if (ViewBag.Error == null)
{
    <h2>Comparison of buildins of @ViewBag.firstSequenceName and @ViewBag.secondSequenceName </h2>

    <h1>
        @if (ViewBag.duplicate)
        {
            @: Equals from positions @ViewBag.pos1 and @ViewBag.pos2
        }
    </h1>
    <div>
        @if (ViewBag.duplicate)
        {
            <table class="table table-bordered table-hover">
                <tr>
                    @for (int i = 0; i < ViewBag.res1.Length; i++)
                    {
                        <td>
                            @ViewBag.res1[i]
                        </td>
                    }
                </tr>
                <tr>
                    @for (int j = 0; j < ViewBag.res2.Length; j++)
                    {
                        <td>
                            @ViewBag.res2[j]
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < ViewBag.res1.Length; i++)
                    {
                        <td>
                            @ViewBag.res1.Building[i]
                        </td>
                    }
                </tr>
            </table>
        }
        else
        {
            @:No coincidence found.
        }
    </div>
}