@model LibiadaWeb.fmotiv

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>fmotiv</legend>

        @Html.HiddenFor(model => model.id)


        <div class="editor-label">
            @Html.LabelFor(model => model.notation_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("notation_id", String.Empty)
            @Html.ValidationMessageFor(model => model.notation_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.created)
            @Html.ValidationMessageFor(model => model.created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matter_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("matter_id", String.Empty)
            @Html.ValidationMessageFor(model => model.matter_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dissimilar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dissimilar)
            @Html.ValidationMessageFor(model => model.dissimilar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.piece_type_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("piece_type_id", String.Empty)
            @Html.ValidationMessageFor(model => model.piece_type_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.piece_position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.piece_position)
            @Html.ValidationMessageFor(model => model.piece_position)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value)
            @Html.ValidationMessageFor(model => model.value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fmotiv_type_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("fmotiv_type_id", String.Empty)
            @Html.ValidationMessageFor(model => model.fmotiv_type_id)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.remote_db_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("remote_db_id", String.Empty)
            @Html.ValidationMessageFor(model => model.remote_db_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remote_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.remote_id)
            @Html.ValidationMessageFor(model => model.remote_id)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
