@using LibiadaWeb.Helpers

@model LibiadaWeb.chain

@{
    ViewBag.Title = "Цепочки";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Цепочка</legend>

    <div class="display-label">Строй</div>
    <p>
        
        @Html.LineBreaker(Model.building,150)
    </p>

    <div class="display-label">Тип строя</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.building_type.name)
    </div>

    <div class="display-label">Форма записи</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">Дата создания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">Объект, которому принадлежит цепочка</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">Цепочка разнородная</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
