@model LibiadaWeb.chain

@{
    ViewBag.Title = "Цепочки";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Цепочка</legend>

    <div class="display-label">Строй</div>
    <p>
    @{
        String temp = Model.building;
        String building = "";
        int step = 200;
        for (int i = 0; i < temp.Length; i += step)
        {
            int blockLength = i + step >= temp.Length ? temp.Length - i : step;
            building += temp.Substring(i, blockLength) + " ";
        }
    }
    @building
    </p>

    <div class="display-label">Тип строя</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.building_type.name)
    </div>

    <div class="display-label">Форма записи</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">Дата создания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">Объект, которому принадлежит цепочка</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">Цепочка разнородная</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
