@{
    ViewBag.Title = "Subsequences similarity";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    <h3>
        @ViewBag.firstSequenceName and @ViewBag.secondSequenceName using @ViewBag.characteristicName
    </h3>
    <br />
    <div>
        @ViewBag.similarity % of subsequences are similar:
        <br />
        @ViewBag.firstSequenceSimilarity % of first sequence.
        <br />
        @ViewBag.secondSequenceSimilarity % of second sequence.
    </div>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    First sequence subsequence feature
                </th>
                <th>
                    First sequence subsequence attributes
                </th>
                <th>
                    First sequence subsequence position
                </th>
                <th>
                    First sequence subsequence length
                </th>
                <th>
                    Second sequence subsequence feature
                </th>
                <th>
                    Second sequence subsequence attributes
                </th>
                <th>
                    Second sequence subsequence position
                </th>
                <th>
                    Second sequence subsequence length
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var similarSubsequence in ViewBag.similarSubsequences)
            {
                var first = ViewBag.firstSequenceSubsequences[similarSubsequence.First];
                var second = ViewBag.secondSequenceSubsequences[similarSubsequence.Second];
                <tr>
                    <td>
                        @first.Feature
                    </td>
                    <td>
                        @foreach (var attribute in ViewBag.firstSequenceAttributes[similarSubsequence.First])
                        {
                            @attribute
                            <br />
                        } 
                    </td>
                    <td>
                        @first.Start
                        <br />

                        @foreach (var position in first.Position)
                        {
                            @position.Start
                            <br />
                        }
                    </td>
                    <td>
                        @first.Length
                        <br />

                        @foreach (var position in first.Position)
                        {
                            @position.Length
                            <br />
                        }
                    </td>
                    <td>
                        @second.Feature
                    </td>
                    <td>
                        @foreach (var attribute in ViewBag.secondSequenceAttributes[similarSubsequence.Second])
                        {
                            @attribute
                            <br />
                        } 
                    </td>
                    <td>
                        @second.Start
                        <br />

                        @foreach (var position in second.Position)
                        {
                            @position.Start
                        }
                    </td>
                    <td>
                        @second.Length
                        <br />

                        @foreach (var position in second.Position)
                        {
                            @position.Length
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
