@{
    ViewBag.Title = "Custom sequence characteristics";
}

<h2>@ViewBag.Title</h2>

@Scripts.Render("~/bundles/orderTransformations")
@Scripts.Render("~/bundles/Characteristics")
@Html.Partial("_AngularControllerInitializer", "CustomCalculationController")

@using (Html.BeginForm("Index", "CustomSequenceCalculation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="CustomCalculationCtrl">
        <h4>Sequence and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_CustomSequences")
        <order-transformations transformations="transformations"
                               operations="operations"
                               transformation-links="transformationLinks">
        </order-transformations>
        @*Html.Partial("_CharacteristicsWithoutNotation")*@
        <characteristics characteristic-types="characteristicTypes"
                         nature="nature"
                         notations="notations"
                         languages="languages"
                         translators="translators"
                         hide-notation="true">
        </characteristics>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}
