@model LibiadaWeb.dna_information

@{
    ViewBag.Title = "Данные ДНК";
}

<h2>Создание</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Данные ДНК</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.matter_id, "Объект с данными ДНК")
        </div>
        <div class="editor-field">
            @Html.DropDownList("matter_id", String.Empty)
            @Html.ValidationMessageFor(model => model.matter_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fasta_header, "Заголовок fasta файла")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fasta_header)
            @Html.ValidationMessageFor(model => model.fasta_header)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
