@{
    ViewBag.Title = "Transformation of order of sequences";
}

@Html.Partial("_AngularControllerInitializer", "OrderTransformerController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="libiada" ng-controller="OrderTransformerCtrl" >
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_NatureSelect")
        @Html.Partial("_MattersTable")
        @Html.Partial("_OrderTransformations")
        @Html.Partial("_Characteristics")
        @Html.Partial("_MattersSubmit")
    </div>
}
