@{
    ViewBag.Title = "Transformation of order of sequences";
}

@Scripts.Render("~/bundles/orderTransformations")
@Scripts.Render("~/bundles/Characteristics")

@Html.Partial("_AngularControllerInitializer", "OrderTransformerController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="OrderTransformerCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_NatureSelect")
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>

        <order-transformations transformations="transformations"
                               operations="operations"
                               transformation-links="transformationLinks">
        </order-transformations>

        <characteristics characteristic-types="characteristicTypes"
                         nature="nature"
                         notations="notations"
                         languages="languages"
                         translators="translators">
        </characteristics>
        @Html.Partial("_MattersSubmit")
    </div>
}
