@using Libiada.Core.Extensions;

@model Multisequence

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Multisequence</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nature)</dt>
        <dd>@Model.Nature.GetDisplayValue()</dd>
    </dl>
</div>
<h4>@Html.DisplayNameFor(model => model.Matters)</h4>

<table class="table table-bordered table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Matters.First().Name)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().Description)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().Created)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().Modified)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().Nature)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().Group)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().SequenceType)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().MultisequenceNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().CollectionCountry)</th>
        <th>@Html.DisplayNameFor(model => model.Matters.First().CollectionDate)</th>
    </tr>
    @foreach (var item in Model.Matters)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Created)</td>
            <td>@Html.DisplayFor(modelItem => item.Modified)</td>
            <td>@item.Nature.GetDisplayValue()</td>
            <td>@item.Group.GetDisplayValue()</td>
            <td>@item.SequenceType.GetDisplayValue()</td>
            <td>@Html.DisplayFor(modelItem => item.MultisequenceNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.CollectionCountry)</td>
            <td>@Html.DisplayFor(modelItem => item.CollectionDate)</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
