@{
    ViewBag.Title = "Subsequences characteristics calculation";
}

@Scripts.Render("~/bundles/Characteristics")

@Html.Partial("_AngularControllerInitializer", "SubsequencesCalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="SubsequencesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        @Html.Partial("_FeaturesSelect")
        <characteristics characteristic-types="characteristicTypes"
                         nature="nature"
                         notations="notations"
                         languages="languages"
                         translators="translators">
        </characteristics>
        @Html.Partial("_MattersSubmit")
    </div>
}
