@model dynamic

@{
    ViewBag.Title = "Subsequences characteristics calculation";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
    SubsequencesCalculationController(data);
</script>

<h2>Subsequences characteristics calculation</h2>


@using (Html.BeginForm())
{
    <div ng-app="SubsequencesCalculation">
        <div class="form-horizontal" ng-controller="SubsequencesCalculationCtrl">
            <h4>Sequences and parameters</h4>
            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
            @Html.Partial("_MattersTable")
            @Html.Partial("_FeaturesSelect")
            @Html.Partial("_Characteristics")
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.CheckBox("sort")
                    @Html.Label("sort", "Sort into rank distribution")
                </div>
            </div>
            <hr />
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/subsequencesCalculation")
}
