@{
    ViewBag.Title = "Subsequences characteristics";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    for (int d = 0; d < ViewBag.characteristics.Count; d++)
    {
        @ViewBag.matterNames[d]
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Feature
                    </th>
                    <th>
                        Subsequence attributes
                    </th>
                    <th>
                        Subsequence position
                    </th>
                    @foreach (var characteristicName in ViewBag.characteristicNames)
                    {
                        <th>
                            @characteristicName
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.characteristics[d][0].Count; i++)
                {
                    <tr>
                        <td>
                            @ViewBag.sequenceFeatures[d][i]
                        </td>
                        <td>
                            @foreach (var attribute in ViewBag.sequenceAttributes[d][i])
                            {
                                @attribute
                                <br/>  
                            } 
                        </td>
                        <td>
                            @ViewBag.sequencesPositions[d][i]
                        </td>
                        @foreach (var characteristic in ViewBag.characteristics[d])
                        {
                            <td>
                                @characteristic[i].Value
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
