@model LibiadaWeb.characteristic

@{
    ViewBag.Title = "Значения характеристик";
}

<h2>Создание</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Значение характеристики</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.chain_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("chain_id", String.Empty)
            @Html.ValidationMessageFor(model => model.chain_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.characteristic_type_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("characteristic_type_id", String.Empty)
            @Html.ValidationMessageFor(model => model.characteristic_type_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value)
            @Html.ValidationMessageFor(model => model.value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value_string)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value_string)
            @Html.ValidationMessageFor(model => model.value_string)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.link_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("link_id", String.Empty)
            @Html.ValidationMessageFor(model => model.link_id)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
