@model LibiadaWeb.characteristic

@{
    ViewBag.Title = "Значения характеристик";
}

<h2>Создание</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Значение характеристики</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.chain_id, "Принадлежит цепочке:")
        </div>
        <div class="editor-field">
            @Html.DropDownList("chain_id", String.Empty)
            @Html.ValidationMessageFor(model => model.chain_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.characteristic_type_id, "Характеристика")
        </div>
        <div class="editor-field">
            @Html.DropDownList("characteristic_type_id", String.Empty)
            @Html.ValidationMessageFor(model => model.characteristic_type_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value, "Числовое значение")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value)
            @Html.ValidationMessageFor(model => model.value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value_string, "Строкове значение")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value_string)
            @Html.ValidationMessageFor(model => model.value_string)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.link_up_id, "Привязка")
        </div>
        <div class="editor-field">
            @Html.DropDownList("link_up_id", String.Empty)
            @Html.ValidationMessageFor(model => model.link_up_id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
