@model LibiadaWeb.characteristic

@{
    ViewBag.Title = "Значения характеристик";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить данное значение характеристики?</h3>
<fieldset>
    <legend>Значение характеристики</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.characteristic_type_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_type.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value_string)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value_string)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.link_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
