@model LibiadaWeb.characteristic

@{
    ViewBag.Title = "Значения характеристик";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Значение характеристики</legend>

     <div class="display-label">
        @Html.DisplayNameFor(model => model.chain_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chain.building)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.characteristic_type_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_type.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.value_string)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value_string)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.link_up_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link_up.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.creation_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
