@model LibiadaWeb.alphabet

@{
    ViewBag.Title = "Алфавиты";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данный алфавит?</h3>
<fieldset>
    <legend>Алфавит</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chain_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chain_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.element_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.element_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
