@model IEnumerable<LibiadaWeb.alphabet>

@{
    ViewBag.Title = "Алфавиты";
}

<h2>Перечень алфавитов</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.chain_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.element_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.chain_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.element_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
