@using LibiadaWeb
@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик однородных цепочек";
}

<h2>Вычисление характеристик однородных цепочек</h2>

<script type="text/javascript">
    
    var divCounter = 0;

    $(document).ready(function() {
        AddDataTablesWithSubmit();

        AddCharacteristic();
    });
    
    function AddCharacteristic() {
        
        var paramsList = new Object();
        
        @Helpers.FillOptionsList("characteristicIds", ViewBag.characteristicsList)
        @Helpers.FillOptionsList("linkUpIds",  ViewBag.linkUpsList)
        @Helpers.FillOptionsList("notationIds", ViewBag.notationsList)
        @Helpers.FillOptionsList("languageIds", ViewBag.languagesList)

        var characteristicsDiv = CreateCharacteristicsBlock(divCounter, paramsList);
        $("#characteristics_list").append(characteristicsDiv);
        divCounter++;
        
        return false;
    }
</script>

@using (Html.BeginForm())
{
    @Html.MattersTable((List<SelectListItem>)ViewBag.matterCheckBoxes, (List<matter>)ViewBag.matters)
    <br/>
    @Html.CheckBox("isSort", "Ранжировать", null)
    <br/>
    @Html.CheckBox("theoretical", "Строить теоретическое распределение", null)
    <br/>
    <br/>
    <input type="button" onclick="AddCharacteristic()" value="Добавить характеристику"/>
    <br/>
    <div id="characteristics_list"></div>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}