@{
    ViewBag.Title = "Congeneric sequences characteristics calculation";
}

@Html.Partial("_AngularControllerInitializer")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="Calculation" ng-controller="CalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @(Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" }))
        @Html.Partial("_NatureSelect")
        @Html.Partial("_MattersTable")
        @Html.Partial("_Characteristics")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="sort" value="true"/>
                    <input type="hidden" name="sort" value="false" />
                    Sort results in descending order
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="theoretical" value="true"/>
                    <input type="hidden" name="theoretical" value="false" />
                    Calculate theoretical rank distribution
                </label>
            </div>
        </div>
        <br />
        @Html.Partial("_MattersSubmit")
    </div>
}
