@model IEnumerable<Matter>

@{
    ViewBag.Title = "Congeneric sequences characteristics calculation";
}

<script type="text/javascript">
    "use strict";

    var data = @(Html.Raw(Json.Encode(ViewBag.data)));
</script>

<h2>Congeneric sequences characteristics calculation</h2>

@using (Html.BeginForm())
{
    <div ng-app="Calculation">
        <div class="form-horizontal" ng-controller="CalculationCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @(Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" }))
            @Html.Partial("_NatureSelect")
            @Html.Partial("_MattersTable")
            @Html.Partial("_Characteristics")
            <div class="form-group">
                <div class="col-md-10">
                    @(Html.CheckBox("sort"))
                    @(Html.Label("sort", "Sort results in descending order"))
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @(Html.CheckBox("theoretical"))
                    @(Html.Label("theoretical", "Calculate theoretical rank distribution"))
                </div>
            </div>
            <br/>
            @Html.Partial("_MattersSubmit", 1)
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/calculation")
}
