@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик однородных цепочек";
}



<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));

    var app = angular.module('Calculation', []);
</script>

@Scripts.Render("~/bundles/controllers/calculation")

<h2>Вычисление характеристик однородных цепочек</h2>

@using (Html.BeginForm("Index", "CongenericCalculation", FormMethod.Post, new { enctype = "multipart/form-data", data_ng_app = "Calculation" }))
{
    <fieldset data-ng-controller="CalculationCtrl">
        <legend>Характеристики однородных цепочек</legend>
        <select data-ng-model="natureId" data-ng-options="n.Value as n.Text for n in natures"></select>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="matter in matters | filter:{Nature: natureId}">
                    <td>
                        <input type="checkbox" name="matterIds" value="{{matter.Value}}" />
                        <span>{{matter.Text}}</span>
                    </td>
                    <td>
                        {{matter.description}}
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        @Html.CheckBox("isSort", "Ранжировать", null)
        <br />
        @Html.CheckBox("theoretical", "Строить теоретическое распределение", null)
        <br />
        <button type="button" data-ng-init="addCharacteristic()" data-ng-click="addCharacteristic()">Добавить характеристику</button>
        <br />
        <div data-ng-repeat="characteristic in characteristics">
            <select title="Характеристика" data-ng-model="characteristic.characteristicType" data-ng-options="c.Text for c in characteristicTypes"></select>
            <input type="hidden" name="characteristicIds" value="{{characteristic.characteristicType.Value}}" />

            <select title="Привязка" data-ng-show="isLinkable(characteristic)" data-ng-model="characteristic.link" data-ng-options="l.Text for l in links"></select>
            <input type="hidden" name="linkIds" value="{{characteristic.link.Value}}" />

            <select title="Форма записи" data-ng-model="characteristic.notation" data-ng-options="n.Text for n in notationsFiltered"></select>
            <input type="hidden" name="notationIds" value="{{characteristic.notation.Value}}" />

            <select title="Язык" data-ng-show="isLiteratureNature()" data-ng-model="characteristic.language" data-ng-options="l.Text for l in languages"></select>
            <input type="hidden" name="languageIds" value="{{characteristic.language.Value}}" />

            <select title="Переводчик" data-ng-show="isLiteratureNature()" data-ng-model="characteristic.translator" data-ng-options="t.Text for t in translators"></select>
            <input type="hidden" name="translatorIds" value="{{characteristic.translator.Value}}" />

            <button type="button" data-ng-click="deleteCharacteristic(characteristic)" data-ng-disabled="characteristics.length <= 1">Удалить</button>
            <br />
        </div>
        <br />
        <br />
        <input type="submit" value="Вычислить" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
}