@{
    ViewBag.Title = "Congeneric sequences characteristics";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    for (int d = 0; d < ViewBag.characteristics.Count; d++)
    {
    @ViewBag.matterNames[d]
    <table class="table table-bordered table-hover" id="resultTable">
        <thead>
            <tr>
                <th>
                    Element
                </th>
                @foreach (var characteristicName in ViewBag.characteristicNames)
                {
                    <th>
                        @characteristicName
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.characteristics[d][0].Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.elementNames[d][i]
                    </td>
                    @foreach (var characteristic in ViewBag.characteristics[d])
                    {
                        <td>
                            @characteristic[i].Value
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    }

    <br />
    <div id="visualization_container" style="width: 800px; height: 500px"></div>
    <br />
    <br />
    <input type="checkbox" name="Rank" id="Rank" value="true" onclick=" SwitchXAxis() " />
    <label for="Rank">Rank distribution</label>
    <br />
    <input type="checkbox" name="allGraphics" id="allGraphics" value="true" disabled="disabled" onclick=" SwitchYAxis() " />
    <label for="allGraphics">Show all charts</label>
    <br />
    <input type="checkbox" name="logarithmicScale" id="logarithmicScale" value="true" disabled="disabled" />
    <label for="logarithmicScale">Log scale</label>
    <br />
    <br />
    <div id="xhider">
        @Html.Label("X axis")
        <select name="xaxis" id="xaxis">
            @foreach (var option in ViewBag.characteristicsList)
            {
                <option value="@option.Value">@option.Text</option>
            }
        </select>
    </div>
    <br />
    <div id="yhider">
        @Html.Label("Y axis")
        <select name="yaxis" id="yaxis">
            @foreach (var option in ViewBag.characteristicsList)
            {
                <option value="@option.Value">@option.Text</option>
            }
        </select>
    </div>
    <br />
    <button onclick=" DrawChart() ">Show</button>
}