@{
    ViewBag.Title = "Orders Intervals Distributions Accordance";
}

<h2>@ViewBag.Title</h2>

@{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "OrdersIntervalsDistributionsAccordance");
}

@using (Html.BeginForm())
{
    <div ng-controller="OrdersIntervalsDistributionsAccordanceCtrl">
        @Html.AntiForgeryToken()
        <h4>Parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="length">Generated orders length:</label>
            <div class="col-md-10">
                <input class="form-control" name="length" type="number" value="4" min="0" id="length" />
                @Html.ValidationMessage("length", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="alphabetCardinality">Generated orders alphabet cardinality:</label>
            <div class="col-md-10">
                <input class="form-control" name="alphabetCardinality" type="number" value="4" min="0" id="alphabetCardinality" />
                @Html.ValidationMessage("alphabetCardinality", "", new { @class = "text-danger" })
            </div>
        </div>
        <fieldset>
            <legend>Order generation type:</legend>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="generateStrict" id="generateStrict" value="0" checked />
                <label class="form-check-label" for="generateStrict">
                    Generate all possible orders with only given alphabet cardinality
                </label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="generateStrict" id="generateAll" value="1" />
                <label class="form-check-label" for="generateAll">
                    Generate all possible orders with alphabet cardinality less or equal to given
                </label>
            </div>
        </fieldset>
        <hr />
        <matters-submit submit-name="Generate orders"></matters-submit>
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/mattersSubmit.js" asp-append-version="true"></script>
}
