@{
    ViewBag.Title = "Sequence prediction";
}

@Scripts.Render("~/bundles/Characteristic")
@Html.Partial("_AngularControllerInitializer", "CalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="CalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.Partial("_NatureSelect")
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        <characteristic characteristic-types="::characteristicTypes"
                        characteristics-dictionary="::characteristicsDictionary"
                        nature="nature"
                        notations="::notations"
                        languages="::languages"
                        translators="::translators"
                        pause-treatments="::pauseTreatments">
        </characteristic>
        <div class="form-group">
            <label class="control-label col-md-2" for="step">Step size:</label>
            <div class="col-md-10">
                <input class="form-control" name="step" type="number" value="1" min="1" id="step" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="initialLength">Initial sequence length:</label>
            <div class="col-md-10">
                    <input class="form-control" name="initialLength" type="number" value="1000" min="1" id="initialLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="accuracy">Accuracy:</label>
            <div class="col-md-10">
                <input class="form-control" name="accuracy" type="number" value="1" min="1" id="accuracy" />
            </div>
        </div>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
