@model IEnumerable<Matter>

@{
    ViewBag.Title = "Genes characteristics calculation";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
</script>

<h2>Genes characteristics calculation</h2>


@using (Html.BeginForm("Index", "GenesCalculation", FormMethod.Post, new { enctype = "multipart/form-data", ng_app = "GenesCalculation" }))
{
    <div class="form-horizontal" ng-controller="GenesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <br />
        @Html.Label("matterId", "Sequence", new { @class = "control-label" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matter in matters">
                    <td>
                        <label>
                            <input type="checkbox" name="matterIds" ng-value="matter.Value" />
                            {{matter.Text}}
                        </label>
                    </td>
                    <td ng-bind="matter.Description" />
                    <td ng-bind="matter.Created" />
                    <td ng-bind="matter.Modified" />
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        @Html.LabelFor(model => model.First().Sequence.First().PieceTypeId, new { @class = "control-label" })
        <div ng-repeat="pieceType in pieceTypes">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="checkbox" name="pieceTypeIds" ng-value="pieceType.Value" />
                        {{pieceType.Text}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("sort")
                @Html.Label("sort", "Sort into rank distribution")
            </div>
        </div>
        <hr/>
        @Html.Partial("_Characteristics")
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/genesCalculation")
}

