@model IEnumerable<Matter>

@{
    ViewBag.Title = "Genes characteristics calculation";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
</script>

<h2>Genes characteristics calculation</h2>


@using (Html.BeginForm("Index", "GenesCalculation", FormMethod.Post, new { enctype = "multipart/form-data", ng_app = "GenesCalculation" }))
{
    <div class="form-horizontal" ng-controller="GenesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <br />
        @Html.Label("matterId", "Sequence", new { @class = "control-label" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matter in matters">
                    <td>
                        <label>
                            <input type="checkbox" name="matterIds" ng-value="matter.Value" />
                            {{matter.Text}}
                        </label>
                    </td>
                    <td ng-bind="matter.Description" />
                    <td ng-bind="matter.Created" />
                    <td ng-bind="matter.Modified" />
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        @Html.LabelFor(model => model.First().Sequence.First().PieceTypeId, new { @class = "control-label" })
        <div ng-repeat="pieceType in pieceTypes">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        @Html.CheckBox("pieceTypeIds", new { ng_value = "pieceType.Value" })
                        {{pieceType.Text}}
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <button type="button" class="btn btn-default" ng-init="addCharacteristic()" ng-click="addCharacteristic()">Add characteristic</button>
            </div>
        </div>
        <div ng-repeat="characteristic in characteristics">
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Characteristic" ng-model="characteristic.characteristicType" ng-options="c.Text for c in characteristicTypes"></select>
                    <input type="hidden" name="characteristicIds" ng-value="characteristic.characteristicType.Value" />
                    @Html.ValidationMessage("characteristicIds", string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" ng-show="isLinkable(characteristic)">
                <div class="col-md-10">
                    <select class="form-control" title="Link" ng-model="characteristic.link" ng-options="l.Text for l in links"></select>
                    <input type="hidden" name="linkIds" ng-value="characteristic.link.Value" />
                    @Html.ValidationMessage("linkIds", string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Notation" ng-model="characteristic.notation" ng-options="n.Text for n in notationsFiltered"></select>
                    <input type="hidden" name="notationIds" ng-value="characteristic.notation.Value" />
                    @Html.ValidationMessage("notationIds", string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="button" class="btn btn-default" ng-click="deleteCharacteristic(characteristic)" ng-disabled="characteristics.length <= 1">Delete characteristic</button>
                </div>
            </div>
            <hr />
            <br />
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/genesCalculation")
}

