@{
    ViewBag.Title = "Subsequences characteristics calculation";
}

@Html.Partial("_AngularControllerInitializer", "SubsequencesCalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="SubsequencesCalculation" ng-controller="SubsequencesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        @Html.Partial("_MattersTable")
        @Html.Partial("_FeaturesSelect")
        <div class="form-group">
            <label class="control-label col-md-2" for="filters">Filter subsequences by product:</label>
            <div class="col-md-10">
                <input class="form-control" ng-model="filters" type="text" id="filters" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" value="Filter" />
            </div>
        </div>
        @Html.Partial("_Characteristics")
        @Html.Partial("_MattersSubmit")
    </div>
}
