@{
    ViewBag.Title = "Subsequences characteristics calculation";
}

@Html.Partial("_AngularControllerInitializer", "SubsequencesCalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="libiada" ng-controller="SubsequencesCalculationCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        @Html.Partial("_MattersTable")
        @Html.Partial("_FeaturesSelect")
        @Html.Partial("_Filters")
        @Html.Partial("_Characteristics")
        @Html.Partial("_MattersSubmit")
    </div>
}
