@using Libiada.Web.Extensions
@using Libiada.Web.Helpers

@{
    ViewBag.Title = "Characteristics calculation";
}

<script src="~/js/Angular/Components/characteristics.js" asp-append-version="true"></script>

@Html.Partial("_AngularControllerInitializer", "CalculationController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div ng-controller="CalculationCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_NatureSelect")
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters-count="selectedMattersCount">
        </matters-table>
        <characteristics characteristic-types="::characteristicTypes"
                         characteristics-dictionary="::characteristicsDictionary"
                         nature="nature"
                         notations="::notations"
                         languages="::languages"
                         translators="::translators"
                         pause-treatments="::pauseTreatments"
                         trajectories="::trajectories">
        </characteristics>
        @if (User.IsAdmin())
        {
            <div class="form-check" ng-if="nature==@((byte)Nature.Genetic)">
                <input type="checkbox"
                       class="form-check-input"
                       name="complementary"
                       id="complementary"
                       value="true"
                       ng-model="complementary" />
                <label class="form-check-label" for="complementary">
                    Calculate characteristic for complementary sequence
                </label>
            </div>
            <div class="form-check">
                <input type="checkbox" 
                       class="form-check-input" 
                       name="rotate" 
                       id="rotate" 
                       value="true" 
                       ng-model="rotate" />
                <label class="form-check-label" for="rotate">
                    Rotate sequences cyclically
                </label>
            </div>
            <div class="row" ng-show="rotate">
                <label class="col-form-label col-md-2" for="rotationLength">Rotation length:</label>
                <div class="col-md-10">
                    <input class="form-control" name="rotationLength" type="number" value="100" min="1" id="rotationLength" />
                    @Html.ValidationMessage("rotationLength", "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
        }
        <input type="hidden" name="complementary" value="false" />
        <input type="hidden" name="rotate" value="false" />
        @Html.Partial("_MattersSubmit")
    </div>
}
