@inject LibiadaDatabaseEntities Db

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - FOA Research Lab</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Libiada.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scrollUpDown.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/AlertifyJS/css/alertify.css" />
    <link rel="stylesheet" href="~/lib/AlertifyJS/css/themes/bootstrap.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>
    <script src="~/lib/angular.js/angular.js"></script>
    <script src="~/js/Angular/functions.js"></script>
    <script src="~/lib/angular-smart-table/smart-table.min.js"></script>
    <script src="~/js/Angular/libiadaModuleInitializer.js"></script>
    <script src="~/js/Angular/Components/scrollJumper.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body class="header-footer-margin">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow p-0 navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Libiada.Web</a>
                <button class="navbar-toggler m-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="https://foarLab.org/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="TaskManager" asp-action="Index">Task manager</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div ng-app="libiada">
        <scroll-jumper></scroll-jumper>
        <div class="container-fluid pe-4 ms-0 body-content">
            <main role="main">
                @RenderBody()
                @if (ViewBag.Error != null)
                {
                    <h1 class="text-danger">An error occurred while processing your request</h1>
                    if (User.IsAdmin())
                    {
                        <h3 class="text-danger mb-2">
                            Error message: @ViewBag.Error.Message
                        </h3>
                        <h5 class="mt-2 text-danger">Stack trace:</h5>
                        <div class="p-2 mb-2 border border-danger border-2 rounded text-break">
                            @ViewBag.Error.StackTrace
                        </div>
                    }
                    else
                    {
                        if (ViewBag.UserError != null)
                        {
                            <h3 class="text-danger p-2 mb-2">
                                @ViewBag.UserError
                            </h3>
                        }
                    }
                }
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            @if (User.IsAdmin())
            {
                <h3 class='@(await Db.IsConnectionSuccessful() ? "text-success" : "text-danger") mb-0 fs-5'>
                    Current environment: 
                    <environment include="Development">Development</environment>
                    <environment exclude="Development">Production</environment>
                    | Current database: @Db.TryGetDbName()
                </h3>
            }
            <p class="mb-0">All nucleotide sequences are downloaded from <a href="https://www.ncbi.nlm.nih.gov" target="_blank" rel="noopener">GenBank</a></p>
            <p class="mb-1">&copy; @DateTime.UtcNow.Year - foarLab.org</p>
        </div>
    </footer>
</body>
</html>
