@using Libiada.Web.Extensions
@using Libiada.Web.Helpers
@{
    ViewBag.Title = "Libiada";
}

<h1>Libiada - FOA Research Lab</h1>

@if (User.Identity.IsAuthenticated)
{
    <div class="row mb-3">
        <div class="col-md-4">
            <h2>Data</h2>
            @Html.ActionLink(User.IsAdmin() ? "Research objects" : "Sequences", "Index", "ResearchObjects")
            <br />
            @if (User.IsAdmin())
            {
                @Html.ActionLink("Multisequences", "Index", "Multisequence")
                <br />
                @Html.ActionLink("Sequences", "Index", "CombinedSequencesEntity")
                <br />
                @Html.ActionLink("Batch poems import", "Index", "BatchPoemsImport")
                <br />
                @Html.ActionLink("Batch music import", "Index", "BatchMusicImport")
                <br />
                @Html.ActionLink("Batch image import", "Index", "BatchImagesImport")
                <br />
                @Html.ActionLink("Batch sequences import", "Index", "BatchsequenceImport")
                <br />
                @Html.ActionLink("Genes import", "Index", "GenesImport")
                <br />
                @Html.ActionLink("Batch genes import", "Index", "BatchGenesImport")
                <br />
                @Html.ActionLink("Batch genetic import from GenBank search file", "Index", "BatchGeneticImportFromGenBankSearchFile")
                <br />
                @Html.ActionLink("Batch genetic import from GenBank search query", "Index", "BatchGeneticImportFromGenBankSearchQuery")
                <br />
                @Html.ActionLink("GenBank search", "Index", "NcbiNuccoreSearch")
                <br />
                @Html.ActionLink("GenBank accessions update check", "Index", "GenBankAccessionVersionUpdateChecker")
                <br />
                @Html.ActionLink("Sequences groups", "Index", "SequenceGroups")
                <br />
                @Html.ActionLink("Genetic sequences transformation", "Index", "GeneticSequencesTransformation")
                <br />
                @Html.ActionLink("Order transformation (high order)", "Index", "OrderTransformer")
                <br />
                @Html.ActionLink("Custom sequences order transformation (high order)", "Index", "CustomSequenceOrderTransformer")
                <br />
                @Html.ActionLink("Music fmotifs dictionaries", "Index", "FmotifsDictionary")
                <br />
                @Html.ActionLink("Custom sequences segmentation", "Index", "CustomSequenceSegmentation")
                <br />
                @Html.ActionLink("Poems segmentation", "Index", "PoemSegmentation")
            }
        </div>
        <div class="col-md-4">
            <h2>Calculators</h2>
            @Html.ActionLink("Calculation of integral characteristics", "Index", "Calculation")
            <br />
            @Html.ActionLink("Calculation of integral characteristics of custom sequences", "Index", "CustomSequenceCalculation")
            <br />
            @Html.ActionLink("Map of genes", "Index", "SubsequencesDistribution")
            <br />
            @Html.ActionLink("Matrix of similarity", "Index", "SubsequencesComparer")
            <br />
            @if (User.IsAdmin())
            {
                @Html.ActionLink("Sliding window calculation (Functions of sequences)", "Index", "LocalCalculation")
                <br />
                @Html.ActionLink("Cluster analysis", "Index", "Clusterization")
                <br />
                @Html.ActionLink("Alignment of sequences", "Index", "SequencesAlignment")
                <br />
                @Html.ActionLink("Subsequences characteristics calculation", "Index", "SubsequencesCalculation")
                <br />
                @Html.ActionLink("Subsequences similarity", "Index", "SubsequencesSimilarity")
                <br />
                @Html.ActionLink("Calculation of characteristics of congeneric sequences", "Index", "CongenericCalculation")
                <br />
                @Html.ActionLink("Calculation of relation characteristics of congeneric sequences", "Index", "RelationCalculation")
                <br />
                @Html.ActionLink("Calculation of accordance characteristics of congeneric sequences", "Index", "AccordanceCalculation")
                <br />
                @Html.ActionLink("Order transformation (high order) characteristics calculation", "Index", "OrderTransformationCalculation")
                <br />
                @Html.ActionLink("Custom sequences order transformation (high order) characteristics calculation", "Index", "CustomSequenceOrderTransformationCalculation")
            }
        </div>
        <div class="col-md-4">
            <h2>Tasks</h2>
            @Html.ActionLink("Task manager", "Index", "TaskManager")

            <h2>FOA Research</h2>
            @Html.ActionLink("Data visualization", "Index", "Charts")
            <br />
            @if (User.IsAdmin())
            {
                @Html.ActionLink("Calculate order transformations convergence", "Index", "OrderTransformationConvergence")
                <br />
                @Html.ActionLink("Calculate distribution of sequences by order", "Index", "SequencesOrderDistribution")
                <br />
                @Html.ActionLink("Calculate accordance of orders by intervals distributions", "Index", "OrdersIntervalsDistributionsAccordance")
                <br />
                @Html.ActionLink("Calculate characteristics of intervals distributions", "Index", "IntervalsCharacteristicsDistribution")
                <br />
                @Html.ActionLink("Music files processor", "Index", "MusicFiles")
                <br />
                @Html.ActionLink("Sequence predictions", "Index", "SequencePrediction")
                <br />
                @Html.ActionLink("Calculation of integral characteristics of orders", "Index", "OrderCalculation")
                <br />
                @Html.ActionLink("Visualization of orders transformations", "Index", "OrderTransformationVisualization")
                <br />
                @Html.ActionLink("Visualization of orders transformations characteristics dynamic", "Index", "OrderTransformationCharacteristicsDynamicVisualization")
            }
        </div>
    </div>
}
else
{
    <div class="mb-3 fs-5">
        <a asp-area="Identity" asp-page="/Account/Login">Log in</a> or
        <a asp-area="Identity" asp-page="/Account/Register">Register</a> to use Libiada service.
    </div>
}
