@model binary_characteristic

@{
    ViewBag.Title = "Создание";
}

<h2>Создание</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>binary_characteristic</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.chain_id, "chain_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("chain_id", string.Empty)
                @Html.ValidationMessageFor(model => model.chain_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.characteristic_type_id, "characteristic_type_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("characteristic_type_id", string.Empty)
                @Html.ValidationMessageFor(model => model.characteristic_type_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.value)
                @Html.ValidationMessageFor(model => model.value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.value_string, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.value_string)
                @Html.ValidationMessageFor(model => model.value_string)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.link_id, "link_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("link_id", string.Empty)
                @Html.ValidationMessageFor(model => model.link_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created)
                @Html.ValidationMessageFor(model => model.created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.first_element_id, "first_element_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("first_element_id", string.Empty)
                @Html.ValidationMessageFor(model => model.first_element_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.second_element_id, "second_element_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("second_element_id", string.Empty)
                @Html.ValidationMessageFor(model => model.second_element_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modified)
                @Html.ValidationMessageFor(model => model.modified)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
