@model binary_characteristic

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данную запись?</h3>
<div>
    <h4>binary_characteristic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value_string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value_string)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.element.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.element.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.element1.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.element1.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chain.remote_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chain.remote_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.characteristic_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.characteristic_type.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
