@using LibiadaWeb.Models.Account
@model CommonSequence

@{
    ViewBag.Title = "Create matter";
}

@Html.Partial("_AngularControllerInitializer", "MatterSequenceCreateController")

<h2>@ViewBag.Title</h2>

<div>@ViewBag.ErrorMessage</div>

@using (Html.BeginForm("Create", "Matters", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-app="MatterSequenceCreate" ng-controller="MatterSequenceCreateCtrl">
        <h4>Matter and sequence parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (UserHelper.IsAdmin())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Matter.Nature, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" ng-model="nature" ng-options="n.Value as n.Text for n in natures" ng-change="filterByNature()" ng-init="filterByNature()"></select>
                    <input type="hidden" name="Matter.Nature" ng-value="nature" />
                    @Html.ValidationMessageFor(model => model.Matter.Nature, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Notation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" ng-model="notationId" ng-options="n.Value as n.Text for n in notations | filter:{ Nature: nature }"></select>
                    <input type="hidden" name="Notation" ng-value="notationId" />
                    @Html.ValidationMessageFor(model => model.Notation, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div ng-hide="true" ng-init="filterByNature()"></div>
            <input type="hidden" name="Notation" ng-value="notationId" />
            <input type="hidden" name="Matter.Nature" ng-value="nature" />
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Matter.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matter.Name, new { htmlAttributes = new { @class = "form-control", ng_model="name" } })
                @Html.ValidationMessageFor(model => model.Matter.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Matter.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matter.Description, new { htmlAttributes = new { @class = "form-control", ng_model="description" } })
                @Html.ValidationMessageFor(model => model.Matter.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("_LocalFile")
        <div class="form-group">
            @Html.LabelFor(model => model.Matter.Group, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="group" ng-options="g.Value as g.Text for g in groups | filter:{ Nature: nature }"></select>
                <input type="hidden" name="Matter.Group" ng-value="group" />
                @Html.ValidationMessageFor(model => model.Matter.Group, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Matter.SequenceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="sequenceType" ng-options="g.Value as g.Text for g in sequenceTypes | filter:{ Nature: nature }"></select>
                <input type="hidden" name="Matter.SequenceType" ng-value="sequenceType" />
                @Html.ValidationMessageFor(model => model.Matter.SequenceType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemoteDb, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="remoteDbId" ng-options="r.Value as r.Text for r in remoteDbs | filter: { Nature: nature }">
                    <option value="">None</option>
                </select>
                <input type="hidden" name="RemoteDb" ng-value="remoteDbId" />
                @Html.ValidationMessageFor(model => model.RemoteDb, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" ng-show="isRemoteDbDefined()">
            @Html.LabelFor(model => model.RemoteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemoteId, new { htmlAttributes = new { @class = "form-control", ng_model="remoteId", ng_change="remoteIdChanged(remoteId)" } })
                @Html.ValidationMessageFor(model => model.RemoteId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div ng-switch="nature">
            <div ng-switch-when="@((byte)Nature.Genetic)">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>
                            <input type="checkbox" name="partial" value="true" />
                            <input type="hidden" name="partial" value="false" />
                            Sequence is partial (incomplete)
                        </label>
                    </div>
                </div>
            </div>
            <div ng-switch-when="@((byte)Nature.Literature)">
                <div class="form-group">
                    <label class="control-label col-md-2" for="language">Language of literary work:</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="languageId" ng-options="l.Value as l.Text for l in languages" id="language"></select>
                        <input type="hidden" name="language" ng-value="languageId" />
                        @Html.ValidationMessage("language", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>
                            <input type="checkbox" name="original" ng-model="original" value="true" />
                            <input type="hidden" name="original" value="false" />
                            Literary work is in original language (not in translation)
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-hide="original">
                    <label class="control-label col-md-2" for="translator">Translator:</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="translatorId" ng-options="t.Value as t.Text for t in translators" id="translator">
                            <option value="">None</option>
                        </select>
                        <input type="hidden" name="translator" ng-value="translatorId" />
                        @Html.ValidationMessage("translator", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div ng-switch-when="@((byte)Nature.Music)">
            </div>
            <div ng-switch-when="@((byte)Nature.MeasurementData)">
                <div class="form-group">
                    <label class="control-label col-md-2" for="precision">Precision of elements:</label>
                    <div class="col-md-10">
                        <input class="form-control" name="precision" id="precision" type="number" value="0" min="0" max="6" />
                        @Html.ValidationMessage("precision", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
