@using LibiadaWeb.Models
@using LibiadaWeb.Models.Account
@model CommonSequence

@{
    ViewBag.Title = "Create matter";
}

@Html.Partial("_AngularControllerInitializer", "MatterSequenceCreateController")

<h2>@ViewBag.Title</h2>

<div>@ViewBag.ErrorMessage</div>

@using (Html.BeginForm("Create", "Matters", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-app="MatterSequenceCreate" ng-controller="MatterSequenceCreateCtrl">
        <h4>Matter and sequence parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (UserHelper.IsAdmin())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Matter.NatureId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" ng-model="natureId" ng-options="n.Value as n.Text for n in natures" ng-change="filterByNature()" ng-init="filterByNature()"></select>
                    <input type="hidden" name="Matter.NatureId" ng-value="natureId" />
                    @Html.ValidationMessageFor(model => model.Matter.NatureId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NotationId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" ng-model="notationId" ng-options="n.Value as n.Text for n in notations | filter:{Nature: natureId}"></select>
                    <input type="hidden" name="NotationId" ng-value="notationId" />
                    @Html.ValidationMessageFor(model => model.NotationId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div ng-hide="true" ng-init="filterByNature()"></div>
            <input type="hidden" name="NotationId" ng-value="notationId" />
            <input type="hidden" name="Matter.NatureId" ng-value="natureId" />
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Matter.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matter.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Matter.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Matter.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matter.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Matter.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("_LocalFile")
        <div class="form-group">
            @Html.LabelFor(model => model.FeatureId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="featureId" ng-options="p.Value as p.Text for p in features | filter:{Nature: natureId}"></select>
                <input type="hidden" name="FeatureId" ng-value="featureId" />
                @Html.ValidationMessageFor(model => model.FeatureId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemoteDbId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="remoteDbId" ng-options="r.Value as r.Text for r in remoteDbs | filter:{Nature: natureId}"></select>
                <input type="hidden" name="RemoteDbId" ng-value="remoteDbId" />
                @Html.ValidationMessageFor(model => model.RemoteDbId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" ng-show="isRemoteDbDefined()">
            @Html.LabelFor(model => model.RemoteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemoteId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemoteId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div ng-switch="natureId">
            <div ng-switch-when="@Aliases.Nature.Genetic">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>
                            <input type="checkbox" name="partial" value="true" />
                            <input type="hidden" name="partial" value="false" />
                            Sequence is partial (incomplete)
                        </label>
                    </div>
                </div>
            </div>
            <div ng-switch-when="@Aliases.Nature.Literature">
                <div class="form-group">
                    <label class="control-label col-md-2" for="languageId">Language of literary work:</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="languageId" ng-options="l.Value as l.Text for l in languages" id="languageId"></select>
                        <input type="hidden" name="languageId" ng-value="languageId" />
                        @Html.ValidationMessage("languageId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>
                            <input type="checkbox" name="original" ng-model="original" value="true" />
                            <input type="hidden" name="original" value="false" />
                            Literary work is in original language (not in translation)
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-hide="original">
                    <label class="control-label col-md-2" for="translatorId">Translator:</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="translatorId" ng-options="t.Value as t.Text for t in translators" id="translatorId"></select>
                        <input type="hidden" name="translatorId" ng-value="translatorId" />
                        @Html.ValidationMessage("translatorId", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div ng-switch-when="@Aliases.Nature.Music">
            </div>
            <div ng-switch-when="@Aliases.Nature.Data">
                <div class="form-group">
                    <label class="control-label col-md-2" for="precision">Precision of elements:</label>
                    <div class="col-md-10">
                        <input class="form-control" name="precision" id="precision" type="number" value="0" min="0" max="6" />
                        @Html.ValidationMessage("precision", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
