@using LibiadaCore.Extensions;

@model Matter

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Matter</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.Created)</dt>
        <dd>@Html.DisplayFor(model => model.Created)</dd>

        <dt>@Html.DisplayNameFor(model => model.Modified)</dt>
        <dd>@Html.DisplayFor(model => model.Modified)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nature)</dt>
        <dd>@Model.Nature.GetDisplayValue()</dd>

        <dt>@Html.DisplayNameFor(model => model.Group)</dt>
        <dd>@Model.Group.GetDisplayValue()</dd>

        <dt>@Html.DisplayNameFor(model => model.SequenceType)</dt>
        <dd>@Model.SequenceType.GetDisplayValue()</dd>

        @if (Model.Multisequence != null)
        {
            <dt>@Html.DisplayNameFor(model => model.Multisequence)</dt>
            <dd>@Html.DisplayFor(model => model.Multisequence.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.MultisequenceNumber)</dt>
            <dd>@Html.DisplayFor(model => model.MultisequenceNumber)</dd>
        }
        @if (Model.CollectionCountry != null)
        {
            <dt>@Html.DisplayNameFor(model => model.CollectionCountry)</dt>
            <dd>@Html.DisplayFor(model => model.CollectionCountry)</dd>
        }
        @if (Model.CollectionDate != null)
        {
            <dt>@Html.DisplayNameFor(model => model.CollectionDate)</dt>
            <dd>@Html.DisplayFor(model => model.CollectionDate)</dd>
        }
        <dt>Sequences count</dt>
        <dd>@ViewBag.SequencesCount</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
