@model LibiadaWeb.binary_characteristic

@{
    ViewBag.Title = "Характеристики бинарных цепей";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данную характеристику бинарных цепей?</h3>
<fieldset>
    <legend>Характеристика бинарных цепей</legend>

    <div class="display-label">Цепочка</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chain.building)
    </div>

    <div class="display-label">Тип характеристики</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.characteristic_type.name)
    </div>

    <div class="display-label">Значение</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">Значение в виде строки</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value_string)
    </div>

    <div class="display-label">Привязка</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link_up.name)
    </div>

    <div class="display-label">Дата создания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">Первый элемент</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.element.value)
    </div>

    <div class="display-label">Второй элемент</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.element1.value)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
