@model IEnumerable<LibiadaWeb.binary_characteristic>

@{
    ViewBag.Title = "Характеристики бинарных цепей";
}

<h2>Перечень бинарных харакеристик</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>


<table>
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.chain_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.characteristic_type_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value_string)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link_up_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first_element_id)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.second_element_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.chain.building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.characteristic_type.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value_string)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.link_up.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.element.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.element1.value)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
