@model IEnumerable<LibiadaWeb.binary_characteristic>

@{
    ViewBag.Title = "Характеристики бинарных цепей";
}

<h2>Перечень бинарных харакеристик</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <tr>
        <th>
            Цепочка
        </th>
        <th>
            Тип характеристик
        </th>
        <th>
            Значение
        </th>
        <th>
            Значение в виде строки
        </th>
        <th>
            Привязка
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Первый элемент
        </th>
        <th>
            Второй элемент
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.chain.building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.characteristic_type.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value_string)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link_up.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.element.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.element1.value)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
