@using Libiada.Web.Extensions
@using Libiada.Web.Helpers

<div class="row mb-1">
    <label class="col-form-label col-md-2" for="characteristic" ng-bind="::$ctrl.title">:</label>
    <div class="col-md-10">
        <select class="form-select"
                title="{{::$ctrl.title}}"
                ng-model="$ctrl.characteristic.characteristicType"
                ng-options="c.Text for c in $ctrl.characteristicTypes"
                ng-change="$ctrl.selectLink($ctrl.characteristic)"
                id="characteristic"></select>
    </div>
</div>
<div class="row mb-1" ng-show="$ctrl.characteristic.characteristicType.Links.length > 1">
    <label class="col-form-label col-md-2" for="link">Link:</label>
    <div class="col-md-10">
        <select class="form-select"
                title="Link"
                ng-model="$ctrl.characteristic.link"
                ng-options="l.Text for l in $ctrl.characteristic.characteristicType.Links"
                id="link"></select>
    </div>
</div>
@if (User.IsAdmin())
{
    <div class="row mb-1" ng-show="$ctrl.characteristic.characteristicType.ArrangementTypes.length > 1">
        <label class="col-form-label col-md-2" for="arrangementType">Arrangement type:</label>
        <div class="col-md-10">
            <select class="form-select"
                    title="Arrangement type"
                    ng-model="$ctrl.characteristic.arrangementType"
                    ng-options="a.Text for a in $ctrl.characteristic.characteristicType.ArrangementTypes"
                    id="arrangementType"></select>
        </div>
    </div>
    <div class="row mb-1" ng-hide="$ctrl.hideNotation">
        <label class="col-form-label col-md-2" for="notation">Notation:</label>
        <div class="col-md-10">
            <select class="form-select"
                    title="Notation"
                    ng-model="$ctrl.characteristic.notation"
                    ng-options="n.Text for n in $ctrl.notations | filter:{ Nature: $ctrl.nature }"
                    id="notation"></select>
        </div>
    </div>
}

<input type="hidden"
       name="{{$ctrl.characteristicName}}"
       ng-model="$ctrl.characteristicLinkId"
       ng-value="$ctrl.characteristicsDictionary['(' + $ctrl.characteristic.characteristicType.Value + ', ' + $ctrl.characteristic.link.Value + ', ' + $ctrl.characteristic.arrangementType.Value + ')']" />
<input type="hidden" name="notation" ng-value="$ctrl.characteristic.notation.Value" />

<div ng-switch="$ctrl.nature">
    <div ng-switch-when="@((byte)Nature.Genetic)">
    </div>
    <div ng-switch-when="@((byte)Nature.Music)">
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="pauseTreatment">Pause treatment:</label>
            <div class="col-md-10">
                <select class="form-select"
                        title="PauseTreatment"
                        ng-model="$ctrl.characteristic.pauseTreatment"
                        ng-options="t.Text for t in ::$ctrl.pauseTreatments"
                        id="pauseTreatment"></select>
                <input type="hidden" name="pauseTreatment" ng-value="$ctrl.characteristic.pauseTreatment.Value" />
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   name="sequentialTransfer"
                   id="sequentialTransfer"
                   ng-model="$ctrl.sequentialTransfer"
                   value="true" />
            <input type="hidden" name="sequentialTransfer" value="false" />
            <label class="form-check-label" for="sequentialTransfer">
                Sequential transfer
            </label>
        </div>
    </div>
    <div ng-switch-when="@((byte)Nature.Literature)">
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="language">Language:</label>
            <div class="col-md-10">
                <select class="form-select"
                        title="Language"
                        ng-model="$ctrl.characteristic.language"
                        ng-options="l.Text for l in ::$ctrl.languages"
                        id="language"></select>
                <input type="hidden" name="language" ng-value="$ctrl.characteristic.language.Value" />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="translator">Translator:</label>
            <div class="col-md-10">
                <select class="form-select"
                        title="Translator"
                        ng-model="$ctrl.characteristic.translator"
                        ng-options="t.Text for t in ::$ctrl.translators"
                        id="translator"></select>
                <input type="hidden" name="translator" ng-value="$ctrl.characteristic.translator.Value" />
            </div>
        </div>
    </div>
    <div ng-switch-when="@((byte)Nature.MeasurementData)">
    </div>
    <div ng-switch-when="@((byte)Nature.Image)">
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="trajectory">Reading trajectory:</label>
            <div class="col-md-10">
                <select class="form-select"
                        title="Reading trajectory"
                        ng-model="$ctrl.characteristic.trajectory"
                        ng-options="t.Text for t in ::$ctrl.trajectories"
                        id="trajectory"></select>
                <input type="hidden" name="trajectories" ng-value="$ctrl.characteristic.trajectory.Value" />
            </div>
        </div>
    </div>
</div>
<hr />
