@model IEnumerable<Matter>

@{
    ViewBag.Title = "Subsequences characteristics distribution";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
    SubsequencesDistributionController(data);
</script>

<h2>Subsequences characteristics distribution</h2>


@using (Html.BeginForm())
{
    <div ng-app="SubsequencesDistribution">
        <div class="form-horizontal" ng-controller="SubsequencesDistributionCtrl">
            <h4>Sequences and parameters</h4>
            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
            @Html.Partial("_MattersTable")
            @Html.Partial("_FeaturesSelect")
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Characteristic of full sequence" ng-model="firstCharacteristic.characteristicType" ng-options="c.Text for c in characteristicTypes" ng-change="selectLink(firstCharacteristic)"></select>
                    <input type="hidden" name="firstCharacteristicId" ng-value="firstCharacteristic.characteristicType.Value" />
                    @Html.ValidationMessage("firstCharacteristicId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" ng-show="isLinkable(firstCharacteristic)">
                <div class="col-md-10">
                    <select class="form-control" title="Link" ng-model="firstCharacteristic.link" ng-options="l.Text for l in characteristic.characteristicType.CharacteristicLinks"></select>
                    <input type="hidden" name="firstLinkId" ng-value="firstCharacteristic.link.Value" />
                    <input type="hidden" name="firstCharacteristicTypeLinkId" ng-value="firstCharacteristic.link.CharacteristicTypeLinkId" />
                    @Html.ValidationMessage("firstLinkId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Notation" ng-model="firstCharacteristic.notation" ng-options="n.Text for n in notationsFiltered"></select>
                    <input type="hidden" name="firstNotationId" ng-value="firstCharacteristic.notation.Value" />
                    @Html.ValidationMessage("firstNotationId", "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <hr />
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Characteristic of subsequences" ng-model="secondCharacteristic.characteristicType" ng-options="c.Text for c in characteristicTypes" ng-change="selectLink(secondCharacteristic)"></select>
                    <input type="hidden" name="secondCharacteristicId" ng-value="secondCharacteristic.characteristicType.Value" />
                    @Html.ValidationMessage("secondCharacteristicId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" ng-show="isLinkable(secondCharacteristic)">
                <div class="col-md-10">
                    <select class="form-control" title="Link" ng-model="secondCharacteristic.link" ng-options="l.Text for l in characteristic.characteristicType.CharacteristicLinks"></select>
                    <input type="hidden" name="secondLinkId" ng-value="secondCharacteristic.link.Value" />
                    <input type="hidden" name="secondCharacteristicTypeLinkId" ng-value="secondCharacteristic.link.CharacteristicTypeLinkId" />
                    @Html.ValidationMessage("secondLinkId", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" title="Notation" ng-model="secondCharacteristic.notation" ng-options="n.Text for n in notationsFiltered"></select>
                    <input type="hidden" name="secondNotationId" ng-value="secondCharacteristic.notation.Value" />
                    @Html.ValidationMessage("secondNotationId", "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/subsequencesDistribution")
}

