@{
    ViewBag.Title = "Subsequences characteristics distribution";
}

@Html.Partial("_AngularControllerInitializer", "SubsequencesDistributionController")

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="SubsequencesDistribution" ng-controller="SubsequencesDistributionCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        @Html.Partial("_MattersTable")
        @Html.Partial("_FeaturesSelect")
        <br />
        <div class="form-group">
            <label class="control-label col-md-2" for="firstCharacteristic">Characteristic of full sequence:</label>
            <div class="col-md-10">
                <select class="form-control" title="Characteristic of full sequence" ng-model="firstCharacteristic.characteristicType" ng-options="c.Text for c in characteristicTypes" ng-change="selectLink(firstCharacteristic)" id="firstCharacteristic"></select>
                <input type="hidden" name="firstCharacteristicId" ng-value="firstCharacteristic.characteristicType.Value" />
            </div>
        </div>
        <div class="form-group" ng-show="isLinkable(firstCharacteristic)">
            <label class="control-label col-md-2" for="firstLink">Link:</label>
            <div class="col-md-10">
                <select class="form-control" title="Link" ng-model="firstCharacteristic.link" ng-options="l.Text for l in firstCharacteristic.characteristicType.CharacteristicLinks" id="firstLink"></select>
                <input type="hidden" name="firstLinkId" ng-value="firstCharacteristic.link.Value" />
                <input type="hidden" name="firstCharacteristicTypeLinkId" ng-value="firstCharacteristic.link.CharacteristicTypeLinkId" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="firstNotation">Notation:</label>
            <div class="col-md-10">
                <select class="form-control" title="Notation" ng-model="firstCharacteristic.notation" ng-options="n.Text for n in notations | filter:{Nature: natureId}" id="firstNotation"></select>
                <input type="hidden" name="firstNotationId" ng-value="firstCharacteristic.notation.Value" />
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2" for="secondCharacteristic">Characteristic of subsequences:</label>
            <div class="col-md-10">
                <select class="form-control" title="Characteristic of subsequences" ng-model="secondCharacteristic.characteristicType" ng-options="c.Text for c in characteristicTypes" ng-change="selectLink(secondCharacteristic)" id="secondCharacteristic"></select>
                <input type="hidden" name="secondCharacteristicId" ng-value="secondCharacteristic.characteristicType.Value" />
            </div>
        </div>
        <div class="form-group" ng-show="isLinkable(secondCharacteristic)">
            <label class="control-label col-md-2" for="secondLink">Link:</label>
            <div class="col-md-10">
                <select class="form-control" title="Link" ng-model="secondCharacteristic.link" ng-options="l.Text for l in secondCharacteristic.characteristicType.CharacteristicLinks" id="secondLink"></select>
                <input type="hidden" name="secondLinkId" ng-value="secondCharacteristic.link.Value" />
                <input type="hidden" name="secondCharacteristicTypeLinkId" ng-value="secondCharacteristic.link.CharacteristicTypeLinkId" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="secondNotation">Notation:</label>
            <div class="col-md-10">
                <select class="form-control" title="Notation" ng-model="secondCharacteristic.notation" ng-options="n.Text for n in notations | filter:{Nature: natureId}" id="secondNotation"></select>
                <input type="hidden" name="secondNotationId" ng-value="secondCharacteristic.notation.Value" />
            </div>
        </div>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
