@{
    ViewBag.Title = "Subsequences characteristics distribution";
}

@Scripts.Render("~/bundles/Characteristic")
@Scripts.Render("~/bundles/Characteristics")

@Html.Partial("_AngularControllerInitializer", "SubsequencesDistributionController")

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="SubsequencesDistributionCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        @Html.Partial("_FeaturesSelect")
        <characteristic characteristic-types="characteristicTypes"
                        nature="nature"
                        notations="notations"
                        languages="languages"
                        translators="translators">
        </characteristic>
        <hr />
        <characteristics characteristic-types="characteristicTypes"
                         nature="nature"
                         notations="notations"
                         languages="languages"
                         translators="translators"
                         hide-notation="true">
        </characteristics>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
