@model dynamic

@{
    ViewBag.Title = "Subsequences characteristics distributions";
}

<h2>Subsequences characteristics distributions</h2>

@if (ViewBag.Error == null)
{
    <script type='text/javascript'>

    </script>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @foreach (var res in ViewBag.result)
                {
                    <th colspan="4">
                        @res.MatterName
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var res in ViewBag.result)
                {
                    <td colspan="4">
                        @res.Characteristic
                    </td>
                }
            </tr>
            @for (var i = 0; i < ViewBag.maxSubsequences; i++)
            {
                <tr>
                    @foreach (var res in ViewBag.result)
                    {
                        if (i < res.SubsequencesCharacteristics.Count)
                        {
                            <td>
                                @res.SubsequencesCharacteristics[i].Subsequence.Feature.Name
                            </td>
                            <td>
                                @foreach (var attribute in res.SubsequencesCharacteristics[i].Attributes)
                                {
                                    @attribute
                                    <br/>
                                }
                            </td>
                            <td>
                                @res.SubsequencesCharacteristics[i].Subsequence.Start
                                <br />

                                @foreach (var position in res.SubsequencesCharacteristics[i].Subsequence.Position)
                                {
                                    @position.Start
                                    <br />
                                }
                            </td>
                            <td>
                                @res.SubsequencesCharacteristics[i].Characteristic
                            </td>
                        }
                        else
                        {
                            <td />
                            <td />
                            <td />
                            <td />
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
