@{
    ViewBag.Title = "Subsequences characteristics distributions";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "SubsequencesDistributionResultController")
    <div class="form-horizontal" ng-app="SubsequencesDistributionResult" ng-controller="SubsequencesDistributionResultCtrl">
        <div ng-disabled="loading">
            <div class="form-group">
                <label class="control-label col-md-2" for="subsequenceCharacteristic">Second characteristic:</label>
                <div class="col-md-10">
                    <select class="form-control" title="Subsequnce characteristic" ng-model="subsequenceCharacteristic" ng-options="c.Text for c in subsequencesCharacteristicsList" id="subsequenceCharacteristic"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="hight">Hight:</label>
                <div class="col-md-10">
                    <input class="form-control" name="hight" id="hight" type="number" min="{{500 + legendHeight}}" step="20" ng-model="hight" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="width">Width:</label>
                <div class="col-md-10">
                    <input class="form-control" name="width" id="width" type="number" min="{{400}}" step="20" ng-model="width" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="checkbox" name="numericXAxis" ng-model="numericXAxis" value="false" />
                        Numeric x axis
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="btn btn-default" ng-click="drawGenesMap()" value="Draw" />
                </div>
            </div>
            <hr />
            @Html.Partial("_FeaturesSelect")
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="checkbox" name="highlight" ng-model="highlight" value="false" />
                        Highlight similar subsequences
                    </label>
                </div>
            </div>
            <div ng-show="highlight">
                <div ng-repeat="characteristicComparer in characteristicComparers">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="characteristic">Characteristic:</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="characteristicComparer.characteristic" ng-options="c.Text for c in subsequencesCharacteristicsList" id="characteristic" title="Characteristic"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="precision">Precision of characteristic comparison:</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="characteristicComparer.precision" type="number" value="0" step="any" min="0" id="precision" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-danger" ng-click="deleteCharacteristicComparer(characteristicComparer)" ng-disabled="characteristicComparers.length <= 1">Delete characteristic comparer</button>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-success" ng-click="addCharacteristicComparer()">Add characteristic comparer</button>
                    </div>
                </div>
            </div>
            @Html.Partial("_Filters")
          
            <div id="chart">
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/dcjs")
    }
}
