@using Newtonsoft.Json
@model dynamic

@{
    ViewBag.Title = "Subsequences characteristics distributions";
}

<h2>Subsequences characteristics distributions</h2>

@if (ViewBag.Error == null)
{
    <script type="text/javascript">
        "use strict";

        var data = @Html.Raw(JsonConvert.SerializeObject(ViewBag));
        SubsequencesDistributionResultController(data);
    </script>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @foreach (var res in ViewBag.result)
                {
                    <th colspan="4">
                        @res.MatterName
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var res in ViewBag.result)
                {
                    <td colspan="4">
                        @res.Characteristic
                    </td>
                }
            </tr>
            @for (var i = 0; i < ViewBag.maxSubsequences; i++)
            {
                <tr>
                    @foreach (var res in ViewBag.result)
                    {
                        if (i < res.SubsequencesCharacteristics.Count)
                        {
                            <td>
                                @res.SubsequencesCharacteristics[i].Feature
                            </td>
                            <td>
                                @foreach (var attribute in res.SubsequencesCharacteristics[i].Attributes)
                                {
                                    @attribute
                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var position in res.SubsequencesCharacteristics[i].Starts)
                                {
                                    @position
                                    <br />
                                }
                            </td>
                            <td>
                                @res.SubsequencesCharacteristics[i].Characteristic
                            </td>
                        }
                        else
                        {
                            <td />
                            <td />
                            <td />
                            <td />
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div ng-app="SubsequencesDistributionResult" ng-controller="SubsequencesDistributionResultCtrl">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="numericXAxis" type="checkbox" ng-model="numericXAxis" value="false"/>
                @Html.Label("numericXAxis", "Numeric x axis")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("hight", "Hight", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" name="hight" type="number" min="{{500 + legendHeight}}" step="20" ng-model="hight" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" class="btn btn-default" ng-click="prepareDataAndDraw()" value="Draw" />
            </div>
        </div>
        <div id="chart">
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/angularjs")
        @Scripts.Render("~/bundles/functions")
        @Scripts.Render("~/bundles/dcjs")
        @Scripts.Render("~/bundles/controllers/subsequencesDistributionResult")
    }
}
