@using LibiadaWeb.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        ViewBag.Title = "Map of genes";
    }
    <title>@ViewBag.Title - FOA Research Lab</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/genesMap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/d3js")
    @Scripts.Render("~/bundles/plotlyjs")

</head>
<body>
    @if (ViewBag.Error == null)
    {
        <div ng-app="libiada">

            @Html.Partial("_AngularControllerInitializer", "SubsequencesDistributionResultController")
            @Scripts.Render("~/bundles/loadingWindow")
            <div class="form-horizontal" ng-controller="SubsequencesDistributionResultCtrl">
                <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
                <div id="container" ng-disabled="loading" ng-cloack>

                    <div id="main">
                        <div id="chart" class="responsive-chart"></div>
                    </div>
                    <div id="dragbar" ng-mousedown="dragbarMouseDown()"></div>
                    <div id="sidebar">
                        <ul id='nav' class="nav nav-tabs" role="tablist">
                            <li role="presentation" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Legend">
                                <a href="#legend" aria-controls="Legend" role="tab" data-toggle="tab">
                                    <big>
                                        <span class="glyphicon glyphicon-list" aria-label="Legend" aria-hidden="true"></span>
                                    </big>
                                </a>
                            </li>
                            <li role="presentation" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Display settings">
                                <a href="#characteristic" aria-controls="Characteristic" role="tab" data-toggle="tab">
                                    <big>
                                        <span class="glyphicon glyphicon-equalizer" aria-label="Display settings" aria-hidden="true"></span>
                                    </big>
                                </a>
                            </li>
                            <li role="presentation" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Similar sequences">
                                <a href="#similar-sequences" aria-controls="Similar-Sequences" role="tab" data-toggle="tab">
                                    <big>
                                        <span class="glyphicon glyphicon-link" aria-label="Similar sequences" aria-hidden="true"></span>
                                    </big>
                                </a>
                            </li>
                            <li role="presentation" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Find by product">
                                <a href="#filter" aria-controls="Filter" role="tab" data-toggle="tab">
                                    <big>
                                        <span class="glyphicon glyphicon-search" aria-label="Find by product" aria-hidden="true"></span>
                                    </big>
                                </a>
                            </li>
                            <li role="presentation" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Features select">
                                <a href="#features" aria-controls="Features" role="tab" data-toggle="tab">
                                    <big>
                                        <span class="glyphicon glyphicon-filter" aria-label="Features select" aria-hidden="true"></span>
                                    </big>
                                </a>
                            </li>
                            <li role="presentation" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Tooltip">
                                <a href="#tooltip" aria-controls="Tooltip" role="tab" data-toggle="tab" data-target="#tooltip">
                                    <big>
                                        <span class="glyphicon glyphicon-info-sign" aria-label="Tooltip" aria-hidden="true"></span>
                                    </big>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="legend">
                                <div class="col-md-3">
                                    <button type="button" id="btn-on" class="btn btn-default btn-sm" ng-click="legendSetVisibilityForAll(true)">
                                        Show all
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btn-off" class="btn btn-default btn-sm" ng-click="legendSetVisibilityForAll(false)">
                                        Hide all
                                    </button>
                                </div>
                                <!-- .roundedOne -->
                                <div ng-repeat="legendItem in matters">
                                    <div class="roundedOne">
                                        <input type="checkbox"
                                               ng-click="legendClick(legendItem)"
                                               ng-model="legendItem.visible"
                                               id="{{::'matter' + legendItem.id}}"
                                               name="check"
                                               checked />
                                        <label for="{{::'matter' + legendItem.id}}" ng-class="'legend' + legendItem.id" style="margin-right: 5px;"></label>
                                        <label for="{{::'matter' + legendItem.id}}" class="monospace" ng-bind="::legendItem.name"></label>
                                    </div>
                                </div>
                                <!-- end .roundedOne -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="characteristic">
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <select class="form-control"
                                                title="Subsequence characteristic"
                                                ng-model="subsequenceCharacteristic"
                                                ng-options="c.Text for c in ::subsequencesCharacteristicsList"
                                                ng-change="redrawGenesMap()"
                                                id="subsequenceCharacteristic"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label>
                                            <input type="checkbox" name="numericXAxis" ng-model="numericXAxis" ng-change="redrawGenesMap()" value="false" />
                                            Numeric X axis
                                        </label>
                                    </div>
                                    <div class="col-md-10">
                                        <label>
                                            <input type="checkbox" name="LogX" ng-model="plotTypeX" ng-change="redrawGenesMap()" value="false" />
                                            Logarithmic scale for X axis
                                        </label>
                                    </div>
                                    <div class="col-md-10">
                                        <label>
                                            <input type="checkbox" name="LogY" ng-model="plotTypeY" ng-change="redrawGenesMap()" value="false" />
                                            Logarithmic scale for Y axis
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="similar-sequences">
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label>
                                            <input type="checkbox" name="highlight" ng-model="highlight" value="false" />
                                            Highlight similar subsequences
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="highlight">
                                    <div ng-repeat="characteristicComparer in characteristicComparers">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <select class="form-control"
                                                        ng-model="characteristicComparer.characteristic"
                                                        ng-options="c.Text for c in ::subsequencesCharacteristicsList"
                                                        id="characteristic" title="Characteristic"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-10" for="precision">Precision of characteristic comparison:</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                       ng-model="characteristicComparer.precision"
                                                       type="number"
                                                       value="0"
                                                       step="any"
                                                       min="0"
                                                       id="precision" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <button type="button" style="margin-top: 15px;"
                                                        class="btn btn-danger btn-sm col-md-10"
                                                        ng-click="deleteCharacteristicComparer(characteristicComparer)"
                                                        ng-disabled="characteristicComparers.length <= 1">
                                                    Delete characteristic comparer
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <button type="button" class="btn btn-success btn-sm" ng-click="addCharacteristicComparer()">
                                                Add characteristic comparer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="filter">
                                @Html.Partial("_Filters")
                            </div>
                            <div role="tabpanel" class="tab-pane" id="features">
                                @Html.Partial("_FeaturesSelect")
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tooltip">
                                <div ng-if="tooltipElements.length > 1">
                                    <button type="button"
                                            class="btn btn-sm"
                                            ng-disabled="alignmentInProcess"
                                            ng-click="alignAllWithClustal()">
                                        Align subsequences
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm"
                                            ng-disabled="alignmentInProcess"
                                            ng-show="(tooltipElements | filter: {similarity: pointsSimilarity.similar}).length > 0"
                                            ng-click="alignSimilarWithClustal()">
                                        Align similar subsequences
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm"
                                            ng-disabled="alignmentInProcess"
                                            ng-show="(tooltipElements | filter: {selectedForAlignment: true}).length > 1"
                                            ng-click="alignSelectedWithClustal()">
                                        Align selected subsequences
                                    </button>
                                </div>
                                <br />
                                <div ng-repeat="tooltipElement in tooltipElements" ng-class="::'bg-' + tooltipElement.color" class="monospace">
                                    <a target="_blank"
                                       rel="noopener"
                                       ng-if="::tooltipElement.sequenceRemoteId"
                                       ng-href="::https://www.ncbi.nlm.nih.gov/nuccore/{{tooltipElement.sequenceRemoteId}}"
                                       ng-bind="::tooltipElement.name">
                                    </a>
                                    <span ng-if="::!tooltipElement.sequenceRemoteId" ng-bind="::tooltipElement.name"></span>
                                    <br />
                                    <a target="_blank"
                                       rel="noopener"
                                       ng-if="::tooltipElement.remoteId"
                                       ng-href="::https://www.ncbi.nlm.nih.gov/nuccore/{{tooltipElement.remoteId}}">
                                        Peptide ncbi page
                                    </a>
                                    <div ng-bind="::tooltipElement.feature"></div>
                                    <div ng-repeat="attribute in ::tooltipElement.attributes" ng-bind="::attribute"></div>
                                    <div ng-if="::tooltipElement.partial">Partial</div>
                                    <div>
                                        Position:
                                        <a target="_blank"
                                           rel="noopener"
                                           ng-if="::tooltipElement.sequenceRemoteId"
                                           ng-href="::https://www.ncbi.nlm.nih.gov/nuccore/{{tooltipElement.sequenceRemoteId}}?from={{tooltipElement.positions[0]+1}}&to={{tooltipElement.positions[0]+tooltipElement.lengths[0]}}"
                                           ng-bind="::tooltipElement.position">
                                        </a>
                                        <span ng-if="::!tooltipElement.sequenceRemoteId" ng-bind="::tooltipElement.position"></span>
                                    </div>
                                    <div>
                                        Length:{{::tooltipElement.length}}
                                    </div>
                                    <div ng-show="tooltipElements.length > 1">
                                        <label>
                                            <input type="checkbox" name="selectSubsequenceForAlignment" ng-model="tooltipElement.selectedForAlignment" />
                                            Select sequence for alignment
                                        </label>
                                    </div>
                                    <div ng-class="['panel', 'panel-' + tooltipElement.color]">
                                        <div class="panel-heading">
                                            <button type="button"
                                                    class="btn btn-default btn-sm"
                                                    data-toggle="collapse"
                                                    data-target="#subsequenceCharacteristics{{$index + 1}}"
                                                    aria-expanded="false"
                                                    aria-controls="subsequenceCharacteristics{{$index + 1}}">
                                                Numeric characteristics
                                            </button>
                                        </div>
                                        <div class="panel-collapse collapse" id="subsequenceCharacteristics{{$index + 1}}">
                                            <table class="table table-bordered" style="font-size:14px;">
                                                <thead ng-repeat="value in ::tooltipElement.characteristics">
                                                    <tr ng-class="::tooltipElement.color">
                                                        <td align=center scope="col" ng-bind="::subsequencesCharacteristicsNames[$index]" />
                                                        <td scope="col" ng-bind="::value" />
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        if (AccountHelper.IsAdmin())
        {
            <div class="error-message">
                @ViewBag.Error.Message
            </div>
            <br />
            <div class="stack-trace">
                @ViewBag.Error.StackTrace
            </div>
        }
        else
        {
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            if (ViewBag.UserError != null)
            {
                <div class="error-message">
                    @ViewBag.UserError
                </div>
            }
        }
    }
</body>
</html>
