@model CommonSequence

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>chain</h4>
        <hr/>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NotationId, "NotationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NotationId", string.Empty)
                @Html.ValidationMessageFor(model => model.NotationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created)
                @Html.ValidationMessageFor(model => model.Created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatterId, "MatterId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MatterId", string.Empty)
                @Html.ValidationMessageFor(model => model.MatterId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PieceTypeId, "PieceTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PieceTypeId", string.Empty)
                @Html.ValidationMessageFor(model => model.PieceTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PiecePosition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PiecePosition)
                @Html.ValidationMessageFor(model => model.PiecePosition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemoteDbId, "RemoteDbId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RemoteDbId", string.Empty)
                @Html.ValidationMessageFor(model => model.RemoteDbId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified)
                @Html.ValidationMessageFor(model => model.Modified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemoteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemoteId)
                @Html.ValidationMessageFor(model => model.RemoteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить изменения" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
