@{
    ViewBag.Title = "Accordance calculation";
}

@Scripts.Render("~/bundles/Characteristic")
@Html.Partial("_AngularControllerInitializer", "AccordanceController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="AccordanceCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_NatureSelect")
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        <characteristic characteristic-types="::characteristicTypes"
                        characteristics-dictionary="::characteristicsDictionary"
                        nature="nature"
                        notations="::notations"
                        languages="::languages"
                        translators="::translators"
                        pause-treatments="::pauseTreatments">
        </characteristic>

        <fieldset >
            <legend>Calculation type:</legend>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="radio" name="calculationType" id="calculationTypeEquality" value="Equality" checked />
                    <label for="calculationTypeEquality">
                        Equality of elements
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="radio" name="calculationType" id="calculationTypeAll" value="All" />
                    <label for="calculationTypeAll">
                        All-to-All
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="radio" name="calculationType" id="calculationTypeSpecified" value="Specified" />
                    <label for="calculationTypeSpecified">
                        Specified
                    </label>
                </div>
            </div>
        </fieldset>
        <hr />
        @Html.Partial("_MattersSubmit")
    </div>
}
