@model dynamic

@{
    ViewBag.Title = "Accordance calculation";
}

@Html.Partial("_AngularControllerInitializer")

<h2>Accordance calculation</h2>

@using (Html.BeginForm())
{
    <div ng-app="Accordance">
        <div class="form-horizontal" ng-controller="AccordanceCtrl">
            <h4>Sequences and parameters</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_NatureSelect")
            @Html.Partial("_MattersTable")
            @Html.Partial("_Characteristic")
            @Html.Label("calculationType", "Calculation type", new { @class = "control-label" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="calculationType" value="Equality" checked />
                        Equality of elements
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="calculationType" value="All" />
                        All-to-All
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        <input type="radio" name="calculationType" value="Specified" />
                        Specified
                    </label>
                </div>
            </div>
            <hr/>
            @Html.Partial("_MattersSubmit")
        </div>
    </div>
}
