@model IEnumerable<Matter>

@{
    ViewBag.Title = "Accordance calculator";
}

<script type="text/javascript">
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
</script>

<h2>Genes alignment</h2>

@using (Html.BeginForm("Index", "AccordanceCalculation", FormMethod.Post, new { enctype = "multipart/form-data", ng_app = "Accordance" }))
{
    <div class="form-horizontal" ng-controller="AccordanceCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_MattersTable")
        @Html.Partial("_PieceTypesSelect")
        @Html.Partial("_Characteristic")
        @Html.Label("calculationType", "Calculation type", new { @class = "control-label" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="calculationType" value="Equality" />
                    Equality of elements
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="calculationType" value="All" />
                    All-to-All
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="calculationType" value="Specified" />
                    Specified
                </label>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" ng-disabled="selectedMatters < 2" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
@Scripts.Render("~/bundles/controllers/calculation")
}
