@model IEnumerable<Matter>

@{
    ViewBag.Title = "Accordance calculator";
}

<script type="text/javascript">
    "use strict";

    var app = angular.module("Accordance", []);

    app.controller("AccordanceCtrl", ["$scope", function($scope) {

        var data = @Html.Raw(Json.Encode(ViewBag.data));

        MapModelFromJson($scope, data);

        $scope.characteristic = {
            characteristicType: $scope.characteristicTypes[0],
            link: $scope.links[0],
            notation: $scope.notations[0]
        };

        $scope.isLinkable = function(characteristic) {
            return characteristic.characteristicType.Linkable;
        };
    }]);
</script>

<h2>Genes alignment</h2>

@using (Html.BeginForm("Index", "AccordanceCalculation", FormMethod.Post, new { enctype = "multipart/form-data", ng_app = "Accordance" }))
{
    <div class="form-horizontal" ng-controller="AccordanceCtrl">
        <h4>Sequences and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        @Html.Label("firstMatterId", "First sequence", new { @class = "control-label" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matter in matters">
                    <td>
                        <label>
                            <input type="radio" name="firstMatterId" ng-value="matter.Value" />
                            {{matter.Text}}
                        </label>
                    </td>
                    <td ng-bind="matter.Description" />
                    <td ng-bind="matter.Created" />
                    <td ng-bind="matter.Modified" />
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        @Html.Label("secondMatterId", "Second sequence", new { @class = "control-label" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matter in matters">
                    <td>
                        <label>
                            <input type="radio" name="secondMatterId" ng-value="matter.Value" />
                            {{matter.Text}}
                        </label>
                    </td>
                    <td ng-bind="matter.Description" />
                    <td ng-bind="matter.Created" />
                    <td ng-bind="matter.Modified" />
                </tr>
            </tbody>
        </table>
        <br />
        @Html.Partial("_PieceTypesSelect")
        @Html.Label("calculationType", "Calculation type", new { @class = "control-label" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="calculationType" value="Equality" />
                    Equality of elements
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="calculationType" value="All" />
                    All-to-All
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="radio" name="calculationType" value="Specified" />
                    Specified
                </label>
            </div>
        </div>
        <hr />
        @Html.Partial("_Characteristic")
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
}
