@model IEnumerable<LibiadaWeb.measure>

@{
    ViewBag.Title = "Такты";
}

<h2>Перечень тактов</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                Тип строя
            </th>
            <th>
                Форма записи
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Принадлежит объекту
            </th>
            <th>
                Разнородная
            </th>
            <th>
                Тип фрагмента
            </th>
            <th>
                Позиция фрагмента
            </th>
            <th>
                Значение
            </th>
            <th>
                Описание
            </th>
            <th>
                Название
            </th>
            <th>
                beats
            </th>
            <th>
                beatbase
            </th>
            <th>
                ticks_per_beat
            </th>
            <th>
                fifths
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.building_type.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.matter.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dissimilar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.piece_type.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.piece_position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beatbase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ticks_per_beat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fifths)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {id = item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
