@model LibiadaWeb.matter

@{
    ViewBag.Title = "Объекты";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Объект</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Природа</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nature.name)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">Сторонняя БД</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_db.name)
    </div>

    <div class="display-label">id в сторонней БД</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_in_remote_db)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
