@model LibiadaWeb.matter

@{
    ViewBag.Title = "Объекты";
}

<h2>Редактирование</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Объект</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name, "Название")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nature_id, "Природа")
        </div>
        <div class="editor-field">
            @Html.DropDownList("nature_id", String.Empty)
            @Html.ValidationMessageFor(model => model.nature_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description, "Описание")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remote_db_id, "Сторонняя БД")
        </div>
        <div class="editor-field">
            @Html.DropDownList("remote_db_id", String.Empty)
            @Html.ValidationMessageFor(model => model.remote_db_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_in_remote_db, "id в сторонней БД")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_in_remote_db)
            @Html.ValidationMessageFor(model => model.id_in_remote_db)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
