@model IEnumerable<LibiadaWeb.homogeneous_characteristic>

@{
    ViewBag.Title = "Однородные характеристики";
}

<h2>Перечень однородных характеристик</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.chain_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.characteristic_type_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value_string)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link_up_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.element_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.chain_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.characteristic_type.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value_string)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.link_up.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.element.value)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {id = item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
