@using LibiadaWeb.Models
@model CommonSequence

@{
    ViewBag.Title = "Create sequence";
}

<script>
    "use strict";

    var data = @Html.Raw(Json.Encode(ViewBag.data));
</script>

<h2>Create sequence</h2>

@using (Html.BeginForm("Create", "CommonSequences", FormMethod.Post, new { enctype = "multipart/form-data", ng_app = "MatterSequenceCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="MatterSequenceCreateCtrl">
        <h4>Sequence</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Matter.NatureId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="natureId" ng-options="n.Value as n.Text for n in natures"></select>
                @Html.ValidationMessageFor(model => model.Matter.NatureId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MatterId, "MatterId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="matterId" ng-options="m.Value as m.Text for m in mattersFiltered"></select>
                <input type="hidden" name="MatterId" ng-value="matterId" />
                @Html.ValidationMessageFor(model => model.MatterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("localFile", new { ng_model = "localFile" })
                @Html.Label("localFile", "Load sequence from local file")
            </div>
        </div>
        <div class="form-group" ng-show="localFile">
            @Html.Label("file", "Sequence file", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" />
                @Html.ValidationMessage("file", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NotationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="notationId" ng-options="n.Value as n.Text for n in notationsFiltered"></select>
                <input type="hidden" name="NotationId" ng-value="notationId" />
                @Html.ValidationMessageFor(model => model.NotationId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PieceTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="pieceTypeId" ng-options="p.Value as p.Text for p in pieceTypesFiltered"></select>
                <input type="hidden" name="PieceTypeId" ng-value="pieceTypeId" />
                @Html.ValidationMessageFor(model => model.PieceTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemoteDbId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" ng-model="remoteDbId" ng-options="r.Value as r.Text for r in remoteDbsFiltered"></select>
                <input type="hidden" name="RemoteBbId" ng-value="remoteDbId" />
                @Html.ValidationMessageFor(model => model.RemoteDbId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" ng-show="isRemoteDbDefined()">
            @Html.LabelFor(model => model.RemoteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemoteId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemoteId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div ng-switch="natureId">
            <div ng-switch-when="@Aliases.Nature.Genetic">
                <div class="form-group">
                    @Html.Label("productId", "Sequence product", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="form-control" ng-model="productId" ng-options="l.Value as l.Text for l in products"></select>
                        <input type="hidden" name="productId" ng-value="productId"/>
                        @Html.ValidationMessage("productId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.CheckBox("partial")
                        @Html.Label("partial", "Sequence is partial (incomplete)")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.CheckBox("complementary")
                        @Html.Label("complementary", "Sequence is complementary to source sequence")
                    </div>
                </div>
            </div>
            <div ng-switch-when="@Aliases.Nature.Literature">
                <div class="form-group">
                    @Html.Label("languageId", "Language of literary work", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="form-control" ng-model="languageId" ng-options="l.Value as l.Text for l in languages"></select>
                        <input type="hidden" name="languageId" ng-value="languageId" />
                        @Html.ValidationMessage("languageId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.CheckBox("original", new { ng_model = "original" })
                        @Html.Label("original", "Literary work is in original language (not in translation)")
                    </div>
                </div>
                <div class="form-group" ng-hide="original">
                    @Html.Label("translatorId", "Translator", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="form-control" ng-model="translatorId" ng-options="t.Value as t.Text for t in translators"></select>
                        <input type="hidden" name="translatorId" ng-value="translatorId" />
                        @Html.ValidationMessage("translatorId", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div ng-switch-when="@Aliases.Nature.Music">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
    @Scripts.Render("~/bundles/controllers/matterSequenceCreate")
}
