@using LibiadaWeb.Helpers
@model CommonSequence

@{
    ViewBag.Title = "Create sequence";
}

@Html.Partial("_AngularControllerInitializer", "MatterSequenceCreateController")

<h2>@ViewBag.Title</h2>

<div>@ViewBag.ErrorMessage</div>

@using (Html.BeginForm("Create", "CommonSequences", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="MatterSequenceCreateCtrl">
        <h4>Sequence parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (AccountHelper.IsAdmin())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Matter.Nature, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control"
                            ng-model="nature"
                            ng-options="n.Value as n.Text for n in ::natures"
                            ng-change="filterByNature()"
                            ng-init="filterByNature()"></select>
                    @Html.ValidationMessageFor(model => model.Matter.Nature, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Notation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control"
                            ng-options="n.Value as n.Text for n in notations | filter:{ Nature: nature }"
                            ng-model="notationId"></select>
                    <input type="hidden" name="Notation" ng-value="notationId" />
                    @Html.ValidationMessageFor(model => model.Notation, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <input type="hidden" name="Notation" ng-init="filterByNature()" ng-value="notationId" />
        }
        <div class="form-group">
            @Html.LabelFor(model => model.MatterId, "Matter", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control"
                        ng-options="m.Value as m.Text for m in matters | filter:{ Nature: nature }"
                        ng-model="matterId"></select>
                <input type="hidden" name="MatterId" ng-value="matterId" />
                @Html.ValidationMessageFor(model => model.MatterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", ng_model = "description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("_LocalFile")
        <div ng-show="nature == @((byte)Nature.Genetic)">
            <div class="form-group">
                @Html.LabelFor(model => model.RemoteDb, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control"
                            ng-model="remoteDbId"
                            ng-options="r.Value as r.Text for r in ::remoteDbs | filter:{ Nature: nature }">
                        <option value="">None</option>
                    </select>
                    <input type="hidden" name="RemoteDb" ng-value="remoteDbId" />
                    @Html.ValidationMessageFor(model => model.RemoteDb, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" ng-show="isRemoteDbDefined()">
                @Html.LabelFor(model => model.RemoteId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RemoteId, new { htmlAttributes = new { @class = "form-control", ng_model = "remoteId", ng_change = "remoteIdChanged(remoteId)" } })
                    @Html.ValidationMessageFor(model => model.RemoteId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div ng-switch="nature">
            <div ng-switch-when="@((byte)Nature.Genetic)">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="checkbox" name="partial" id="partial" value="true" />
                        <input type="hidden" name="partial" value="false" />
                        <label for="partial">
                            Sequence is partial (incomplete)
                        </label>
                    </div>
                </div>
            </div>
            <div ng-switch-when="@((byte)Nature.Literature)">
                <div class="form-group">
                    <label class="control-label col-md-2" for="language">Language of literary work:</label>
                    <div class="col-md-10">
                        <select class="form-control"
                                ng-model="languageId"
                                ng-options="l.Value as l.Text for l in languages"
                                id="language"></select>
                        <input type="hidden" name="language" ng-value="languageId" />
                        @Html.ValidationMessage("language", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="checkbox" name="original" id="original" ng-model="original" value="true" />
                        <input type="hidden" name="original" value="false" />
                        <label for="original">
                            Literary work is in original language (not in translation)
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-hide="original">
                    <label class="control-label col-md-2" for="translator">Translator:</label>
                    <div class="col-md-10">
                        <select class="form-control"
                                ng-model="translatorId"
                                ng-options="t.Value as t.Text for t in translators"
                                id="translator"></select>
                        <input type="hidden" name="translator" ng-value="translatorId" />
                        @Html.ValidationMessage("translator", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div ng-switch-when="@((byte)Nature.Music)">
            </div>
            <div ng-switch-when="@((byte)Nature.MeasurementData)">
                <div class="form-group">
                    <label class="control-label col-md-2" for="precision">Precision of elements:</label>
                    <div class="col-md-10">
                        <input class="form-control" name="precision" id="precision" type="number" value="0" min="0" max="6" />
                        @Html.ValidationMessage("precision", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
