@model CommonSequence

@{
    ViewBag.Title = "Sequence details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Sequence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matter.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feature.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feature.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoteDb.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoteDb.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
