@using LibiadaCore.Extensions
@model CommonSequence

@{
    ViewBag.Title = "Sequence details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Sequence</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoteDb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoteDb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matter.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notation)
        </dt>

        <dd>
            @Model.Notation.GetDisplayValue()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matter.Group)
        </dt>

        <dd>
            @Model.Matter.Group.GetDisplayValue()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matter.SequenceType)
        </dt>

        <dd>
            @Model.Matter.SequenceType.GetDisplayValue()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
