@model LibiadaWeb.music_chain

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>music_chain</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.notation_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.matter_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.dissimilar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remote_db_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_db.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remote_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_id)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
