@model LibiadaWeb.music_chain

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<fieldset>
    <legend>music_chain</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.notation_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.creation_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.matter_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.dissimilar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remote_db_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_db.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remote_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remote_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
