@model LibiadaWeb.music_chain

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<fieldset>
    <legend>music_chain</legend>

    <div class="display-label">notation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notation.name)
    </div>

    <div class="display-label">creation_date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creation_date)
    </div>

    <div class="display-label">matter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matter.name)
    </div>

    <div class="display-label">dissimilar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dissimilar)
    </div>

    <div class="display-label">piece_type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piece_type.name)
    </div>

    <div class="display-label">piece_position</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piece_position)
    </div>

    <div class="display-label">instrument</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.instrument.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
