@model IEnumerable<LibiadaWeb.music_chain>

@{
    ViewBag.Title = "Музыкальные цепочки";
}

<h2>Перечень музыкальных цепочек</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.notation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matter_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dissimilar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.piece_type_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.piece_position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instrument_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.notation.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.matter.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dissimilar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.piece_type.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.piece_position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instrument.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {item.id}) |
                    @Html.ActionLink("Удалить", "Delete", new {item.id})
                </td>
            </tr>
        }
    </tbody>
</table>
