@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление локальных характеристик";
}

<h2>Вычисление локальных характеристик</h2>

<script type="text/javascript">

    $(document).ready(function() {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });

    function AddAxis() {
        $("#axis").append(
        '<select name="characteristicIds">' +
            '@foreach (var option in ViewBag.characteristicsList)
             {<option value="@option.Value">@option.Text</option>}' +
        '</select>' +
        '<select name="linkUpIds">' +
            '@foreach (var option in ViewBag.linkUpsList)
             {<option value="@option.Value">@option.Text</option>}' +
        '</select>' +
        '<br/>');
        return false;
    }
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название объекта
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList = Html.CheckBoxGroup("matterIds", (List<SelectListItem>) ViewBag.mattersList);

                foreach (var item in mattersList)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br/>
    @Html.Label("Размер окна:")
    <input type ="number" id ="length" name = "length" value="50"/>
    @Html.Label("Размер шага:")
    <input type ="number" id ="step" name = "step" value="2"/>
    <br/>
    @Html.CheckBox("isDelta")
    @Html.Label("isDelta", "Считать разницу между характеристиками")

    <br/>
    @Html.CheckBox("isGrowingWindow")
    @Html.Label("isGrowingWindow", "Считать увеличивающееся окно")
    <br/>
    @Html.CheckBox("isFurie")
    @Html.Label("isFurie", "Быстрое преобразование Фурье")
    <br/>

    <input type="button" onclick=" AddAxis() " value="Добавить ось"/>
    <br/>
    <select name="notationId">
        @foreach (var option in ViewBag.notationsList)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <div id="axis"></div>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}